#### Installing Pandas
pip install pandas

### Reference Link for pandas
<a href="https://pandas.pydata.org/pandas-docs/stable/reference/index.html">API reference Pandas</a>

# Importing pandas into your application

In [4]:
# import numpy and pandas, and DataFrame / Series
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

# Set some pandas options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

# And some items for matplotlib
#%matplotlib inline 
#import matplotlib.pyplot as plt
#pd.options.display.mpl_style = 'default'

# Primary pandas objects

## The pandas Series

In [21]:
# create a four item Series
s = Series([5, 8, 3, 4])
s

0    5
1    8
2    3
3    4
dtype: int64

In [24]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
# return a Series with the row with labels 1 and 3
s[[1,3]]

1    8
3    4
dtype: int64

In [23]:
# create a series using an explicit index
s = Series([5, 8, 3, 4], index = ['a', 'b', 'c', 'd'])
s

a    5
b    8
c    3
d    4
dtype: int64

In [17]:
# look up items the series having index 'a' and 'd'
s[['b', 'd']]

b    8
d    4
dtype: int64

In [19]:
# passing a list of integers to a Series that has
# non-integer index labels will look up based upon
# 0-based index like an array
s[[1, 3]]

b    8
d    4
dtype: int64

In [20]:
# get only the index of the Series
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [25]:
# create a Series who's index is a series of dates
# between the two specified dates (inclusive)
dates = pd.date_range('2014-07-01', '2014-07-06')
dates1 = pd.date_range('2014-07-02', '2014-07-07')
dates

# create a Series with values (representing temperatures)
# for each date in the index
temps1 = Series([80, 82, 85, 90, 83, 87], 
                index = dates)
temps1

2014-07-01    80
2014-07-02    82
2014-07-03    85
2014-07-04    90
2014-07-05    83
2014-07-06    87
Freq: D, dtype: int64

In [26]:
# calculate the mean of the values in the Series
temps1.mean()

84.5

In [27]:
temps1.max()

90

In [28]:
temps1.min()

80

In [29]:
temps1.sum()

507

In [30]:
temps1.cumsum()

2014-07-01     80
2014-07-02    162
2014-07-03    247
2014-07-04    337
2014-07-05    420
2014-07-06    507
Freq: D, dtype: int64

In [31]:
# create a second series of values using the same index
temps2 = Series([70, 75, 69, 83, 79, 77], 
                index = dates1)

2014-07-01     NaN
2014-07-02    12.0
2014-07-03    10.0
2014-07-04    21.0
2014-07-05     0.0
2014-07-06     8.0
2014-07-07     NaN
Freq: D, dtype: float64

In [33]:
print(temps1)

2014-07-01    80
2014-07-02    82
2014-07-03    85
2014-07-04    90
2014-07-05    83
2014-07-06    87
Freq: D, dtype: int64

In [32]:
print(temps2)

2014-07-02    70
2014-07-03    75
2014-07-04    69
2014-07-05    83
2014-07-06    79
2014-07-07    77
Freq: D, dtype: int64

In [36]:

# the following aligns the two by their index values
# and calculates the difference at those matching labels
temp_diffs = temps1 - temps2
print(type(temp_diffs))
temp_diffs

<class 'pandas.core.series.Series'>

2014-07-01     NaN
2014-07-02    12.0
2014-07-03    10.0
2014-07-04    21.0
2014-07-05     0.0
2014-07-06     8.0
2014-07-07     NaN
Freq: D, dtype: float64

In [35]:
# lookup a value by date using the index
temp_diffs['2014-07-03']

10.0

In [38]:
# and also possible by integer position as if the 
# series was an array
temp_diffs[3]

21.0

## The pandas DataFrame

In [40]:
# create a DataFrame from the two series objects temp1 and temp2
# and give them column names
temps_df = DataFrame(
            {'Missoula': temps1, 
             'Philadelphia': temps2})
print(type(temps_df))
temps_df

<class 'pandas.core.frame.DataFrame'>

            Missoula  Philadelphia
2014-07-01      80.0           NaN
2014-07-02      82.0          70.0
2014-07-03      85.0          75.0
2014-07-04      90.0          69.0
2014-07-05      83.0          83.0
2014-07-06      87.0          79.0
2014-07-07       NaN          77.0

In [26]:
# get the column with the name Missoula
temps_df['Missoula']

2014-07-01    80.0
2014-07-02    82.0
2014-07-03    85.0
2014-07-04    90.0
2014-07-05    83.0
2014-07-06    87.0
2014-07-07     NaN
Freq: D, Name: Missoula, dtype: float64

In [41]:
# likewise we can get just the Philadelphia column
temps_df['Philadelphia']

2014-07-01     NaN
2014-07-02    70.0
2014-07-03    75.0
2014-07-04    69.0
2014-07-05    83.0
2014-07-06    79.0
2014-07-07    77.0
Freq: D, Name: Philadelphia, dtype: float64

In [47]:
# return both columns in a different order
x = temps_df[['Philadelphia', 'Missoula']]
print(type(x))

<class 'pandas.core.frame.DataFrame'>

In [52]:
x = temps_df['Missoula']
print(type(x))

<class 'pandas.core.series.Series'>

In [54]:
# retrieve the Missoula column through property syntax
print(type(temps_df.Missoula))
temps_df.Missoula

<class 'pandas.core.series.Series'>

2014-07-01    80.0
2014-07-02    82.0
2014-07-03    85.0
2014-07-04    90.0
2014-07-05    83.0
2014-07-06    87.0
2014-07-07     NaN
Freq: D, Name: Missoula, dtype: float64

In [33]:
# calculate the temperature difference between the two cities
temps_df.Missoula - temps_df.Philadelphia

2014-07-01     NaN
2014-07-02    12.0
2014-07-03    10.0
2014-07-04    21.0
2014-07-05     0.0
2014-07-06     8.0
2014-07-07     NaN
Freq: D, dtype: float64

In [58]:
# add a column to temp_df which contains the difference in temps
temps_df['Difference'] = temp_diffs
temps_df['Difference1'] = temps_df.Missoula - temps_df.Philadelphia
temps_df

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-01      80.0           NaN         NaN          NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN          NaN

            Difference3
2014-07-01          NaN
2014-07-02         12.0
2014-07-03         10.0
2014-07-04         21.0
2014-07-05          0.0
2014-07-06          8.0
2014-07-07          NaN

In [59]:
# get the columns, which is also an Index object
temps_df.columns

Index(['Missoula', 'Philadelphia', 'Difference', 'Difference1', 'Difference2',
       'Difference3'],
      dtype='object')

In [64]:
# slice the temp differences column for the rows at 
# location 1 through 4 (as though it is an array)
temps_df.Difference[1:5]

2014-07-02    12.0
2014-07-03    10.0
2014-07-04    21.0
2014-07-05     0.0
Freq: D, Name: Difference, dtype: float64

In [69]:
# get the row at array position 1
temps_df.iloc[6]

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-02      82.0          70.0        12.0         12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0          8.0

            Difference3
2014-07-02         12.0
2014-07-03         10.0
2014-07-04         21.0
2014-07-05          0.0
2014-07-06          8.0

In [70]:
# get the row at array position 1
temps_df.iloc[1:6]

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-02      82.0          70.0        12.0         12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0          8.0

            Difference3
2014-07-02         12.0
2014-07-03         10.0
2014-07-04         21.0
2014-07-05          0.0
2014-07-06          8.0

In [48]:
temps_df.iloc[1:5:2]

            Missoula  Philadelphia  Difference  Difference1
2014-07-02      82.0          70.0        12.0         12.0
2014-07-04      90.0          69.0        21.0         21.0

In [72]:
# the names of the columns have become the index
# they have been 'pivoted'
print(temps_df)
temps_df.ix[1:5:3]

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-01      80.0           NaN         NaN          NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN          NaN

            Difference3
2014-07-01          NaN
2014-07-02         12.0
2014-07-03         10.0
2014-07-04         21.0
2014-07-05          0.0
2014-07-06          8.0
2014-07-07          NaN

c:\python373\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-02      82.0          70.0        12.0         12.0         12.0
2014-07-05      83.0          83.0         0.0          0.0          0.0

            Difference3
2014-07-02         12.0
2014-07-05          0.0

In [124]:
# retrieve row by index label using .loc
temps_df.loc['2014-07-03']

Missoula        85.0
Philadelphia    75.0
Difference      10.0
Difference1     10.0
Difference2     10.0
Difference3     10.0
Name: 2014-07-03 00:00:00, dtype: float64

In [125]:
temps_df

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-01      80.0           NaN         NaN          NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN          NaN

            Difference3
2014-07-01          NaN
2014-07-02         12.0
2014-07-03         10.0
2014-07-04         21.0
2014-07-05          0.0
2014-07-06          8.0
2014-07-07          NaN

In [126]:
temps_df.Difference[[1,3,5]]

2014-07-02    12.0
2014-07-04    21.0
2014-07-06     8.0
Name: Difference, dtype: float64

In [80]:
# get the values in the Differences column in tows 1, 3 and 5
# using 0-based location
temps_df.iloc[[1, 3, 5]].Difference

2014-07-02    12.0
2014-07-04    21.0
2014-07-06     8.0
Freq: 2D, Name: Difference, dtype: float64

In [82]:
temps_df>82

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-01     False         False       False        False        False
2014-07-02     False         False       False        False        False
2014-07-03      True         False       False        False        False
2014-07-04      True         False       False        False        False
2014-07-05      True          True       False        False        False
2014-07-06      True         False       False        False        False
2014-07-07     False         False       False        False        False

            Difference3
2014-07-01        False
2014-07-02        False
2014-07-03        False
2014-07-04        False
2014-07-05        False
2014-07-06        False
2014-07-07        False

In [84]:
temps_df[temps_df>5]

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-01      80.0           NaN         NaN          NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0         21.0
2014-07-05      83.0          83.0         NaN          NaN          NaN
2014-07-06      87.0          79.0         8.0          8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN          NaN

            Difference3
2014-07-01          NaN
2014-07-02         12.0
2014-07-03         10.0
2014-07-04         21.0
2014-07-05          NaN
2014-07-06          8.0
2014-07-07          NaN

In [81]:
# which values in the Missoula column are > 82?
temps_df.Missoula > 82

2014-07-01    False
2014-07-02    False
2014-07-03     True
2014-07-04     True
2014-07-05     True
2014-07-06     True
2014-07-07    False
Freq: D, Name: Missoula, dtype: bool

In [56]:
# return the rows where the temps for Missoula > 82
temps_df[temps_df.Missoula > 82]

            Missoula  Philadelphia  Difference  Difference1
2014-07-03      85.0          75.0        10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0

In [85]:
###### provides default 5 values from top
temps_df.head()

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-01      80.0           NaN         NaN          NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0          0.0

            Difference3
2014-07-01          NaN
2014-07-02         12.0
2014-07-03         10.0
2014-07-04         21.0
2014-07-05          0.0

In [87]:
###### provides default 6 values from top
temps_df.head(3)

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-01      80.0           NaN         NaN          NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0         10.0

            Difference3
2014-07-01          NaN
2014-07-02         12.0
2014-07-03         10.0

In [89]:
###### provides default 6 values from top
temps_df.tail(2)

            Missoula  Philadelphia  Difference  Difference1  Difference2  \
2014-07-06      87.0          79.0         8.0          8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN          NaN

            Difference3
2014-07-06          8.0
2014-07-07          NaN

# Loading data from files and the web into a DataFrame

In [90]:
# display the contents of test1.csv
# which command to use depends on your OS
!cat data/test1.csv # on non-windows systems
#!type data/test1.csv # on windows systems

'cat' is not recognized as an internal or external command,
operable program or batch file.

###### Accessing Data

In [91]:
# read the contents of the file into a DataFrame
df = pd.read_csv('test1.csv')
df

                  date         0         1         2
0  2000-01-01 00:00:00  1.103763 -1.909979 -0.808956
1  2000-01-02 00:00:00  1.188917  0.581120  0.861597
2  2000-01-03 00:00:00 -0.964200  0.779764  1.829062
3  2000-01-04 00:00:00  0.782130 -1.720670 -1.108242
4  2000-01-05 00:00:00 -1.867017 -0.528368 -2.488309
5  2000-01-06 00:00:00  2.569280 -0.471901 -0.835033
6  2000-01-07 00:00:00 -0.399323 -0.676427 -0.011256
7  2000-01-08 00:00:00  1.642993  1.013420  1.435667
8  2000-01-09 00:00:00  1.147308  2.138000  0.554171
9  2000-01-10 00:00:00  0.933766  1.387155 -0.560143

In [95]:
eval(df.0)

SyntaxError: invalid syntax (<ipython-input-95-03e6522cb641>, line 1)

In [96]:
# the contents of the date column
df[["0","2"]]

          0         2
0  1.103763 -0.808956
1  1.188917  0.861597
2 -0.964200  1.829062
3  0.782130 -1.108242
4 -1.867017 -2.488309
5  2.569280 -0.835033
6 -0.399323 -0.011256
7  1.642993  1.435667
8  1.147308  0.554171
9  0.933766 -0.560143

In [97]:
# we can get the first value in the date column
df.date[0]

'2000-01-01 00:00:00'

In [100]:
# it is a string
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [99]:
# read the data and tell pandas the date column should be 
# a date in the resulting DataFrame
df = pd.read_csv('test1.csv', parse_dates=['date'])
df

        date         0         1         2
0 2000-01-01  1.103763 -1.909979 -0.808956
1 2000-01-02  1.188917  0.581120  0.861597
2 2000-01-03 -0.964200  0.779764  1.829062
3 2000-01-04  0.782130 -1.720670 -1.108242
4 2000-01-05 -1.867017 -0.528368 -2.488309
5 2000-01-06  2.569280 -0.471901 -0.835033
6 2000-01-07 -0.399323 -0.676427 -0.011256
7 2000-01-08  1.642993  1.013420  1.435667
8 2000-01-09  1.147308  2.138000  0.554171
9 2000-01-10  0.933766  1.387155 -0.560143

In [101]:
# verify the type now is date
# in pandas, this is actually a Timestamp
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [102]:
# unfortunately the index is numeric which makes
# accessing data by date more complicated
df.index

RangeIndex(start=0, stop=10, step=1)

In [110]:
# read in again, now specity the data column as being the 
# index of the resulting DataFrame
df = pd.read_csv('test1.csv', 
                 parse_dates=['date'], 
                 index_col='date')
df

                   0         1         2
date
2000-01-01  1.103763 -1.909979 -0.808956
2000-01-02  1.188917  0.581120  0.861597
2000-01-03 -0.964200  0.779764  1.829062
2000-01-04  0.782130 -1.720670 -1.108242
2000-01-05 -1.867017 -0.528368 -2.488309
2000-01-06  2.569280 -0.471901 -0.835033
2000-01-07 -0.399323 -0.676427 -0.011256
2000-01-08  1.642993  1.013420  1.435667
2000-01-09  1.147308  2.138000  0.554171
2000-01-10  0.933766  1.387155 -0.560143

In [114]:
# and the index is now a DatetimeIndex
df.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', name='date', freq=None)

In [112]:
# imports for reading data from Yahoo!
from pandas.io.data import DataReader
from datetime import date
from dateutil.relativedelta import relativedelta

# read the last three months of data for GOOG
goog = DataReader("GOOG",  "yahoo", 
                  date.today() + 
                  relativedelta(months=-3))

# the result is a DataFrame
#and this gives us the 5 most recent prices
goog.tail()

ModuleNotFoundError: No module named 'pandas.io.data'

In [118]:
# use column 0 as the index
msft = pd.read_csv("msft.csv", index_col=1)
print(msft)

             Date   High    Low  Close   Volume  Adj Close
Open
83.46  2014-07-21  83.53  81.81  81.93  2359300      81.93
83.46  2014-07-18  83.40  82.52  83.35  4020800      83.35
84.35  2014-07-17  84.63  83.33  83.63  1974000      83.63
83.77  2014-07-16  84.91  83.66  84.91  1755600      84.91
84.30  2014-07-15  84.38  83.20  83.58  1874700      83.58
83.66  2014-07-14  84.64  83.11  84.40  1432100      84.40
83.55  2014-07-11  83.98  82.85  83.35  2001400      83.35
85.20  2014-07-10  85.57  83.36  83.42  2713300      83.42
84.83  2014-07-09  85.79  84.76  85.50  1540700      85.50
86.29  2014-07-08  86.57  84.69  84.69  2164000      84.69
86.97  2014-07-07  87.13  85.82  86.07  1644600      86.07
87.22  2014-07-04  87.54  87.05  87.05  1392600      87.05
86.02  2014-07-03  87.42  85.88  87.14  1985800      87.14
85.68  2014-07-02  85.91  85.37  85.84  1490000      85.84
85.28  2014-07-01  85.43  84.73  85.36  1507400      85.36
84.93  2014-06-30  85.76  84.70  85.03  2713200      85.03
84.76  2014-06-27  85.31  84.32  84.64  2156600      84.64
86.50  2014-06-26  86.50  84.73  85.00  2161200      85.00
86.22  2014-06-25  86.74  85.96  86.02  2359500      86.02
87.12  2014-06-24  87.21  86.17  86.52  2162700      86.52
87.50  2014-06-23  87.59  86.54  86.78  1906700      86.78
87.20  2014-06-20  88.28  86.85  87.36  8315300      87.36
86.90  2014-06-19  87.57  86.67  87.03  2349800      87.03
86.16  2014-06-18  86.66  86.00  86.02  1702700      86.02
85.39  2014-06-17  86.19  85.30  86.11  1731700      86.11
85.17  2014-06-16  85.72  85.02  85.17  1692400      85.17
85.90  2014-06-13  85.96  84.93  85.50  1855100      85.50
85.71  2014-06-12  86.35  85.55  86.20  2643800      86.20
85.69  2014-06-11  86.23  85.38  85.71  1837100      85.71
86.12  2014-06-10  86.15  85.56  85.87  2062500      85.87
86.00  2014-06-09  86.24  85.65  86.10  1076500      86.10
85.43  2014-06-06  85.94  84.88  85.86  2142700      85.86
85.01  2014-06-05  85.95  84.56  85.43  2921800      85.43
84.89  2014-06-04  85.35  84.67  85.09  2180100      85.09
84.68  2014-06-03  84.86  84.10  84.86  1629800      84.86
84.89  2014-06-02  85.00  84.26  84.50  1425800      84.50
84.90  2014-05-30  84.95  84.13  84.47  1815800      84.47
84.66  2014-05-29  84.88  84.25  84.73   994100      84.73
84.44  2014-05-28  84.81  84.08  84.81  1837000      84.81
83.60  2014-05-27  84.45  83.36  84.44  2097000      84.44
83.65  2014-05-26  83.95  83.31  83.77  1320000      83.77
83.20  2014-05-23  83.23  82.49  83.08  1596900      83.08
83.05  2014-05-22  83.26  82.61  83.00  1382100      83.00
82.15  2014-05-21  83.09  81.60  82.97  1762600      82.97
81.75  2014-05-20  82.51  81.75  82.43  1833800      82.43
82.41  2014-05-19  82.82  81.60  82.78  2242600      82.78
82.87  2014-05-16  83.03  81.88  82.33  3008600      82.33
83.80  2014-05-15  84.43  82.74  83.17  2809900      83.17
83.51  2014-05-14  84.01  83.02  83.69  1977100      83.69
83.87  2014-05-13  84.30  83.29  83.49  2436100      83.49
...           ...    ...    ...    ...      ...        ...
45.40  2000-03-10  46.70  45.26  46.20  2546600      18.00
45.85  2000-03-09  46.45  45.30  45.79  3569400      17.84
45.95  2000-03-08  46.08  45.01  45.65  3783500      17.79
46.00  2000-03-07  46.24  44.33  44.80  3693800      17.46
45.80  2000-03-06  46.46  44.90  46.25  3349700      18.02
46.60  2000-03-03  46.80  44.98  45.41  2600100      17.69
46.25  2000-03-02  46.90  44.78  46.90  3471200      18.28
47.20  2000-03-01  48.39  44.75  46.20  5935100      18.00
47.50  2000-02-29  48.45  45.95  47.90  3165100      18.67
44.60  2000-02-28  47.55  43.95  46.90  3393000      18.28
46.00  2000-02-25  46.00  44.60  45.16  2533500      17.60
47.65  2000-02-24  47.65  45.10  45.90  2818000      17.89
46.55  2000-02-23  48.20  46.55  47.14  3523500      18.37
46.21  2000-02-22  46.80  45.52  46.50  3450000      18.12
46.60  2000-02-21  47.10  45.80  47.00  2155500      18.31
46.99  2000-02-18  48.09  46.71  47.40  5644000      18.47
44.39  2000-02-17  46.89  44.10  46.50  5374400      18.12
42.00  2000-02-16  43.99  41.82  43.99  4771700      17.14
43.45  2000-02-15  43.65  40.99  40.99  3644300      15.97
43.75  2000-02-14  44.95  42.60  43.20  2983300      16.83
44.00  2000-02-11  45.45  43.05  44.13  5987800      17.20
42.80  2000-02-10  44.00  42.10  44.00  3617800      17.15
43.50  2000-02-09  45.40  42.92  43.10  4573700      16.79
42.15  2000-02-08  43.28  41.75  43.05  4316300      16.78
42.80  2000-02-07  42.90  41.22  41.75  3709400      16.27
43.87  2000-02-04  44.47  42.31  43.07  3334600      16.78
44.99  2000-02-03  46.19  43.41  43.65  5097100      17.01
42.99  2000-02-02  45.00  42.26  45.00  4979400      17.54
44.77  2000-02-01  44.77  41.81  42.02  5474200      16.37
44.90  2000-01-31  44.90  43.51  44.05  3176400      17.16
44.85  2000-01-28  45.97  43.93  45.25  2828300      17.63
44.02  2000-01-27  44.99  43.32  44.55  4552100      17.36
45.80  2000-01-26  46.17  43.50  44.02  4562200      17.15
46.75  2000-01-25  46.80  45.25  45.25  3323200      17.63
48.10  2000-01-24  48.35  46.81  47.18  1889000      18.38
48.80  2000-01-21  49.15  47.50  48.05  3534900      18.72
49.90  2000-01-20  50.00  48.83  49.40  2205100      19.25
47.65  2000-01-19  49.97  47.62  49.84  4004400      19.42
47.93  2000-01-18  48.48  47.40  47.95  2739100      18.68
47.60  2000-01-17  48.63  47.60  47.87  2656800      18.65
47.89  2000-01-14  48.48  47.40  47.50  2784500      18.51
47.85  2000-01-13  48.60  46.90  47.50  2482900      18.51
47.75  2000-01-12  48.40  47.26  48.00  2351400      18.70
50.05  2000-01-11  50.05  47.75  47.99  4773000      18.70
51.10  2000-01-10  51.24  49.60  50.22  2576000      19.57
48.55  2000-01-07  50.35  47.80  50.00  4621200      19.48
46.78  2000-01-06  48.35  46.28  48.03  3306100      18.72
46.94  2000-01-05  47.50  45.92  46.75  4809900      18.22
49.80  2000-01-04  49.80  47.72  47.85  4489500      18.65
52.70  2000-01-03  53.20  49.60  49.75  3137300      19.39

[3767 rows x 6 columns]

In [116]:
# examine the types of the columns in this DataFrame
msft.dtypes

Date          object
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [127]:
# specify that the Volume column should be a float64
msft = pd.read_csv("msft.csv", 
                   dtype = { 'Volume' : np.float64})
msft.dtypes

Date          object
Open         float64
High         float64
Low           object
Close        float64
Volume       float64
Adj Close    float64
dtype: object

In [128]:
msft = pd.read_csv("msft.csv", dtype = {'High': str ,'Volume' : np.float64})
msft.Low = msft.Low.astype(int,errors="ignore")# errors ="ignore" or "raise"
msft.dtypes

Date          object
Open         float64
High          object
Low           object
Close        float64
Volume       float64
Adj Close    float64
dtype: object

## Specifying column names

In [144]:
# specify a new set of names for the columns
# all lower case, remove space in Adj Close
# also, header=0 skips the header row
df = pd.read_csv("msft.csv", 
                 header=0,
                 names=['open', 'high', 'low','close', 'volume', 'adjclose1'])
df.head(100)

             open   high     low  close   volume  adjclose1
2014-07-21  83.46  83.53  a81.81  81.93  2359300      81.93
2014-07-18  83.46  83.40   82.52  83.35  4020800      83.35
2014-07-17  84.35  84.63   83.33  83.63  1974000      83.63
2014-07-16  83.77  84.91   83.66  84.91  1755600      84.91
2014-07-15  84.30  84.38   83.20  83.58  1874700      83.58
2014-07-14  83.66  84.64   83.11  84.40  1432100      84.40
2014-07-11  83.55  83.98   82.85  83.35  2001400      83.35
2014-07-10  85.20  85.57   83.36  83.42  2713300      83.42
2014-07-09  84.83  85.79   84.76  85.50  1540700      85.50
2014-07-08  86.29  86.57   84.69  84.69  2164000      84.69
2014-07-07  86.97  87.13   85.82  86.07  1644600      86.07
2014-07-04  87.22  87.54   87.05  87.05  1392600      87.05
2014-07-03  86.02  87.42   85.88  87.14  1985800      87.14
2014-07-02  85.68  85.91   85.37  85.84  1490000      85.84
2014-07-01  85.28  85.43   84.73  85.36  1507400      85.36
2014-06-30  84.93  85.76   84.70  85.03  2713200      85.03
2014-06-27  84.76  85.31   84.32  84.64  2156600      84.64
2014-06-26  86.50  86.50   84.73  85.00  2161200      85.00
2014-06-25  86.22  86.74   85.96  86.02  2359500      86.02
2014-06-24  87.12  87.21   86.17  86.52  2162700      86.52
2014-06-23  87.50  87.59   86.54  86.78  1906700      86.78
2014-06-20  87.20  88.28   86.85  87.36  8315300      87.36
2014-06-19  86.90  87.57   86.67  87.03  2349800      87.03
2014-06-18  86.16  86.66   86.00  86.02  1702700      86.02
2014-06-17  85.39  86.19   85.30  86.11  1731700      86.11
2014-06-16  85.17  85.72   85.02  85.17  1692400      85.17
2014-06-13  85.90  85.96   84.93  85.50  1855100      85.50
2014-06-12  85.71  86.35   85.55  86.20  2643800      86.20
2014-06-11  85.69  86.23   85.38  85.71  1837100      85.71
2014-06-10  86.12  86.15   85.56  85.87  2062500      85.87
2014-06-09  86.00  86.24   85.65  86.10  1076500      86.10
2014-06-06  85.43  85.94   84.88  85.86  2142700      85.86
2014-06-05  85.01  85.95   84.56  85.43  2921800      85.43
2014-06-04  84.89  85.35   84.67  85.09  2180100      85.09
2014-06-03  84.68  84.86   84.10  84.86  1629800      84.86
2014-06-02  84.89  85.00   84.26  84.50  1425800      84.50
2014-05-30  84.90  84.95   84.13  84.47  1815800      84.47
2014-05-29  84.66  84.88   84.25  84.73   994100      84.73
2014-05-28  84.44  84.81   84.08  84.81  1837000      84.81
2014-05-27  83.60  84.45   83.36  84.44  2097000      84.44
2014-05-26  83.65  83.95   83.31  83.77  1320000      83.77
2014-05-23  83.20  83.23   82.49  83.08  1596900      83.08
2014-05-22  83.05  83.26   82.61  83.00  1382100      83.00
2014-05-21  82.15  83.09   81.60  82.97  1762600      82.97
2014-05-20  81.75  82.51   81.75  82.43  1833800      82.43
2014-05-19  82.41  82.82   81.60  82.78  2242600      82.78
2014-05-16  82.87  83.03   81.88  82.33  3008600      82.33
2014-05-15  83.80  84.43   82.74  83.17  2809900      83.17
2014-05-14  83.51  84.01   83.02  83.69  1977100      83.69
2014-05-13  83.87  84.30   83.29  83.49  2436100      83.49
2014-05-12  82.46  83.67   82.23  83.50  2133100      83.50
2014-05-09  82.09  82.51   81.75  82.43  1928100      82.43
2014-05-08  81.33  82.56   81.04  82.39  2862200      82.39
2014-05-07  79.50  81.42   79.25  81.24  2799800      81.24
2014-05-06  81.57  81.71   79.90  80.21  2956800      80.21
2014-05-05  81.30  81.71   80.10  81.28  3637500      81.28
2014-05-02  83.73  84.56   82.98  84.01  5203500      81.31
2014-05-01  83.43  83.43   83.43  83.43        0      80.75
2014-04-30  82.80  83.78   82.71  83.43  3462000      80.75
2014-04-29  81.82  82.94   81.69  82.81  3053300      80.15
2014-04-28  81.45  82.32   80.75  81.44  2413900      78.82
2014-04-25  81.29  82.36   80.66  81.20  3463400      78.59
2014-04-24  81.98  82.80   80.45  82.07  3410700      79.43
2014-04-23  82.00  82.16   81.35  81.47  2085300      78.85
2014-04-22  80.14  81.85   79.77  81.61  2607300      78.99
2014-04-21  79.36  79.36   79.36  79.36        0      76.81
2014-04-18  79.36  79.36   79.36  79.36        0      76.81
2014-04-17  78.59  79.61   78.17  79.36  2537100      76.81
2014-04-16  77.72  78.42   77.46  78.07  2326000      75.56
2014-04-15  77.91  78.47   76.77  76.98  2501400      74.51
2014-04-14  77.02  78.25   76.97  78.21  2260700      75.70
2014-04-11  78.51  78.70   77.33  77.62  2940400      75.13
2014-04-10  79.32  80.17   78.91  79.31  2876800      76.76
2014-04-09  79.07  79.48   78.60  78.84  1789100      76.31
2014-04-08  78.96  79.33   78.42  79.25  2321100      76.70
2014-04-07  79.77  80.17   78.68  78.89  2607900      76.35
2014-04-04  80.24  81.34   80.19  80.77  2504200      78.17
2014-04-03  80.32  80.52   79.75  80.03  2069600      77.46
2014-04-02  80.65  80.88   79.92  80.37  2037400      77.79
2014-04-01  81.22  81.47   80.46  80.72  1700300      78.13
2014-03-31  80.95  81.44   80.52  80.68  2539500      78.09
2014-03-28  79.70  80.53   79.62  80.41  2418300      77.83
2014-03-27  78.50  79.60   78.20  79.20  2133400      76.65
2014-03-26  78.39  79.54   78.15  78.79  2149200      76.26
2014-03-25  76.56  78.25   76.55  77.85  2390700      75.35
2014-03-24  78.00  78.17   76.06  76.50  2985900      74.04
2014-03-21  77.50  78.56   77.40  78.00  6642300      75.49
2014-03-20  77.49  78.42   76.22  77.49  3646000      75.00
2014-03-19  78.00  78.52   77.63  78.19  2612100      75.68
2014-03-18  77.53  78.75   76.75  77.83  2943100      75.33
2014-03-17  77.00  78.11   76.42  77.82  2460600      75.32
2014-03-14  75.20  77.34   74.65  76.92  5260500      74.45
2014-03-13  78.33  78.48   75.66  75.86  3908700      73.42
2014-03-12  79.15  79.23   77.72  78.20  2915000      75.69
2014-03-11  79.56  80.62   78.77  79.73  2209300      77.17
2014-03-10  79.23  80.01   78.82  79.34  2317800      76.79
2014-03-07  81.02  81.30   79.69  79.69  3436400      77.13
2014-03-06  81.73  81.95   80.54  81.15  1902400      78.54
2014-03-05  81.83  81.94   81.15  81.17  2051800      78.56
2014-03-04  81.01  82.32   80.53  82.19  3307900      79.55

In [145]:
# specify a new set of names for the columns
# all lower case, remove space in Adj Close
# also, header=0 skips the header row
df = pd.read_csv("msft.csv", 
                 header=4)
df.head(100)

    2014-07-16  83.77  84.91  83.66  84.91.1  1755600  84.91.2
0   2014-07-15  84.30  84.38  83.20    83.58  1874700    83.58
1   2014-07-14  83.66  84.64  83.11    84.40  1432100    84.40
2   2014-07-11  83.55  83.98  82.85    83.35  2001400    83.35
3   2014-07-10  85.20  85.57  83.36    83.42  2713300    83.42
4   2014-07-09  84.83  85.79  84.76    85.50  1540700    85.50
5   2014-07-08  86.29  86.57  84.69    84.69  2164000    84.69
6   2014-07-07  86.97  87.13  85.82    86.07  1644600    86.07
7   2014-07-04  87.22  87.54  87.05    87.05  1392600    87.05
8   2014-07-03  86.02  87.42  85.88    87.14  1985800    87.14
9   2014-07-02  85.68  85.91  85.37    85.84  1490000    85.84
10  2014-07-01  85.28  85.43  84.73    85.36  1507400    85.36
11  2014-06-30  84.93  85.76  84.70    85.03  2713200    85.03
12  2014-06-27  84.76  85.31  84.32    84.64  2156600    84.64
13  2014-06-26  86.50  86.50  84.73    85.00  2161200    85.00
14  2014-06-25  86.22  86.74  85.96    86.02  2359500    86.02
15  2014-06-24  87.12  87.21  86.17    86.52  2162700    86.52
16  2014-06-23  87.50  87.59  86.54    86.78  1906700    86.78
17  2014-06-20  87.20  88.28  86.85    87.36  8315300    87.36
18  2014-06-19  86.90  87.57  86.67    87.03  2349800    87.03
19  2014-06-18  86.16  86.66  86.00    86.02  1702700    86.02
20  2014-06-17  85.39  86.19  85.30    86.11  1731700    86.11
21  2014-06-16  85.17  85.72  85.02    85.17  1692400    85.17
22  2014-06-13  85.90  85.96  84.93    85.50  1855100    85.50
23  2014-06-12  85.71  86.35  85.55    86.20  2643800    86.20
24  2014-06-11  85.69  86.23  85.38    85.71  1837100    85.71
25  2014-06-10  86.12  86.15  85.56    85.87  2062500    85.87
26  2014-06-09  86.00  86.24  85.65    86.10  1076500    86.10
27  2014-06-06  85.43  85.94  84.88    85.86  2142700    85.86
28  2014-06-05  85.01  85.95  84.56    85.43  2921800    85.43
29  2014-06-04  84.89  85.35  84.67    85.09  2180100    85.09
30  2014-06-03  84.68  84.86  84.10    84.86  1629800    84.86
31  2014-06-02  84.89  85.00  84.26    84.50  1425800    84.50
32  2014-05-30  84.90  84.95  84.13    84.47  1815800    84.47
33  2014-05-29  84.66  84.88  84.25    84.73   994100    84.73
34  2014-05-28  84.44  84.81  84.08    84.81  1837000    84.81
35  2014-05-27  83.60  84.45  83.36    84.44  2097000    84.44
36  2014-05-26  83.65  83.95  83.31    83.77  1320000    83.77
37  2014-05-23  83.20  83.23  82.49    83.08  1596900    83.08
38  2014-05-22  83.05  83.26  82.61    83.00  1382100    83.00
39  2014-05-21  82.15  83.09  81.60    82.97  1762600    82.97
40  2014-05-20  81.75  82.51  81.75    82.43  1833800    82.43
41  2014-05-19  82.41  82.82  81.60    82.78  2242600    82.78
42  2014-05-16  82.87  83.03  81.88    82.33  3008600    82.33
43  2014-05-15  83.80  84.43  82.74    83.17  2809900    83.17
44  2014-05-14  83.51  84.01  83.02    83.69  1977100    83.69
45  2014-05-13  83.87  84.30  83.29    83.49  2436100    83.49
46  2014-05-12  82.46  83.67  82.23    83.50  2133100    83.50
47  2014-05-09  82.09  82.51  81.75    82.43  1928100    82.43
48  2014-05-08  81.33  82.56  81.04    82.39  2862200    82.39
49  2014-05-07  79.50  81.42  79.25    81.24  2799800    81.24
50  2014-05-06  81.57  81.71  79.90    80.21  2956800    80.21
51  2014-05-05  81.30  81.71  80.10    81.28  3637500    81.28
52  2014-05-02  83.73  84.56  82.98    84.01  5203500    81.31
53  2014-05-01  83.43  83.43  83.43    83.43        0    80.75
54  2014-04-30  82.80  83.78  82.71    83.43  3462000    80.75
55  2014-04-29  81.82  82.94  81.69    82.81  3053300    80.15
56  2014-04-28  81.45  82.32  80.75    81.44  2413900    78.82
57  2014-04-25  81.29  82.36  80.66    81.20  3463400    78.59
58  2014-04-24  81.98  82.80  80.45    82.07  3410700    79.43
59  2014-04-23  82.00  82.16  81.35    81.47  2085300    78.85
60  2014-04-22  80.14  81.85  79.77    81.61  2607300    78.99
61  2014-04-21  79.36  79.36  79.36    79.36        0    76.81
62  2014-04-18  79.36  79.36  79.36    79.36        0    76.81
63  2014-04-17  78.59  79.61  78.17    79.36  2537100    76.81
64  2014-04-16  77.72  78.42  77.46    78.07  2326000    75.56
65  2014-04-15  77.91  78.47  76.77    76.98  2501400    74.51
66  2014-04-14  77.02  78.25  76.97    78.21  2260700    75.70
67  2014-04-11  78.51  78.70  77.33    77.62  2940400    75.13
68  2014-04-10  79.32  80.17  78.91    79.31  2876800    76.76
69  2014-04-09  79.07  79.48  78.60    78.84  1789100    76.31
70  2014-04-08  78.96  79.33  78.42    79.25  2321100    76.70
71  2014-04-07  79.77  80.17  78.68    78.89  2607900    76.35
72  2014-04-04  80.24  81.34  80.19    80.77  2504200    78.17
73  2014-04-03  80.32  80.52  79.75    80.03  2069600    77.46
74  2014-04-02  80.65  80.88  79.92    80.37  2037400    77.79
75  2014-04-01  81.22  81.47  80.46    80.72  1700300    78.13
76  2014-03-31  80.95  81.44  80.52    80.68  2539500    78.09
77  2014-03-28  79.70  80.53  79.62    80.41  2418300    77.83
78  2014-03-27  78.50  79.60  78.20    79.20  2133400    76.65
79  2014-03-26  78.39  79.54  78.15    78.79  2149200    76.26
80  2014-03-25  76.56  78.25  76.55    77.85  2390700    75.35
81  2014-03-24  78.00  78.17  76.06    76.50  2985900    74.04
82  2014-03-21  77.50  78.56  77.40    78.00  6642300    75.49
83  2014-03-20  77.49  78.42  76.22    77.49  3646000    75.00
84  2014-03-19  78.00  78.52  77.63    78.19  2612100    75.68
85  2014-03-18  77.53  78.75  76.75    77.83  2943100    75.33
86  2014-03-17  77.00  78.11  76.42    77.82  2460600    75.32
87  2014-03-14  75.20  77.34  74.65    76.92  5260500    74.45
88  2014-03-13  78.33  78.48  75.66    75.86  3908700    73.42
89  2014-03-12  79.15  79.23  77.72    78.20  2915000    75.69
90  2014-03-11  79.56  80.62  78.77    79.73  2209300    77.17
91  2014-03-10  79.23  80.01  78.82    79.34  2317800    76.79
92  2014-03-07  81.02  81.30  79.69    79.69  3436400    77.13
93  2014-03-06  81.73  81.95  80.54    81.15  1902400    78.54
94  2014-03-05  81.83  81.94  81.15    81.17  2051800    78.56
95  2014-03-04  81.01  82.32  80.53    82.19  3307900    79.55
96  2014-03-03  80.35  81.31  79.91    79.97  5004100    77.40
97  2014-02-28  82.40  83.42  82.17    83.42  2853200    80.74
98  2014-02-27  84.06  84.63  81.63    82.00  3676800    79.36
99  2014-02-26  82.92  84.03  82.43    83.81  2623600    81.12

### Specifying specific columns to load

In [147]:
# read in data only in the Date and Close columns
# and index by the Date column
df2 = pd.read_csv("msft.csv", 
                  usecols=['Date', 'Close','Low'], 
                  index_col=['Date'])
df2.head()

               Low  Close
Date
2014-07-21  a81.81  81.93
2014-07-18   82.52  83.35
2014-07-17   83.33  83.63
2014-07-16   83.66  84.91
2014-07-15   83.20  83.58

## Saving a DataFrame to a CSV

In [150]:
# save df2 to a new csv file
# also specify naming the index as date
df2.to_csv("msft_modified.csv", index_label='date')

In [129]:
# view the start of the file just saved
!head data/msft_modified.csv
#type data/msft_modified.csv # windows

'head' is not recognized as an internal or external command,
operable program or batch file.

# Working with missing data

## Setup

In [151]:
# create a DataFrame with 5 rows and 3 columns
df = pd.DataFrame(np.arange(0, 15).reshape(5, 3), 
               index=['a', 'b', 'c', 'd', 'e'], 
               columns=['c1', 'c2', 'c3'])
df

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [152]:
# add some columns and rows to the DataFrame
# column c4 with NaN values
df['c4'] = np.nan
df

   c1  c2  c3  c4
a   0   1   2 NaN
b   3   4   5 NaN
c   6   7   8 NaN
d   9  10  11 NaN
e  12  13  14 NaN

In [153]:
# row 'f' with 15 through 18 
df.loc['f'] = np.arange(15, 19) 
# row 'g' will all NaN
print(df)

   c1  c2  c3    c4
a   0   1   2   NaN
b   3   4   5   NaN
c   6   7   8   NaN
d   9  10  11   NaN
e  12  13  14   NaN
f  15  16  17  18.0

In [228]:
df.loc['g'] = np.nan
# column 'C5' with NaN's
df

     c1    c2    c3    c4
a   0.0   1.0   2.0   NaN
b   3.0   4.0   5.0   NaN
c   6.0   7.0   8.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   NaN
f  15.0  16.0  17.0  18.0
g   NaN   NaN   NaN   NaN

In [154]:
df['c5'] = np.nan
# change value in col 'c4' row 'a'

In [155]:
df['c4']['a'] = 20
df

c:\python373\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   c1  c2  c3    c4  c5
a   0   1   2  20.0 NaN
b   3   4   5   NaN NaN
c   6   7   8   NaN NaN
d   9  10  11   NaN NaN
e  12  13  14   NaN NaN
f  15  16  17  18.0 NaN

## Determining NaN values in Series and DataFrame objects

In [156]:
# which items are NaN?
df.isnull()

      c1     c2     c3     c4    c5
a  False  False  False  False  True
b  False  False  False   True  True
c  False  False  False   True  True
d  False  False  False   True  True
e  False  False  False   True  True
f  False  False  False  False  True

In [162]:
# total count of NaN values
nullsumforcolumns = df.isnull().sum()
nullsumforcolumns

c1    0
c2    0
c3    0
c4    4
c5    6
dtype: int64

In [161]:
nullsumforcolumns.sum()

10

In [164]:
# number of non-NaN values in each column
df.count()

c1    6
c2    6
c3    6
c4    2
c5    0
dtype: int64

In [165]:
# which items are not null?
df.notnull()

     c1    c2    c3     c4     c5
a  True  True  True   True  False
b  True  True  True  False  False
c  True  True  True  False  False
d  True  True  True  False  False
e  True  True  True  False  False
f  True  True  True   True  False

In [166]:
# which items are not null?
df.notnull().sum()

c1    6
c2    6
c3    6
c4    2
c5    0
dtype: int64

In [167]:
# which items are not null?
df.notnull().sum().sum()

20

# Selecting out (dropping) missing data

In [168]:
df.notnull()

     c1    c2    c3     c4     c5
a  True  True  True   True  False
b  True  True  True  False  False
c  True  True  True  False  False
d  True  True  True  False  False
e  True  True  True  False  False
f  True  True  True   True  False

In [169]:
df

   c1  c2  c3    c4  c5
a   0   1   2  20.0 NaN
b   3   4   5   NaN NaN
c   6   7   8   NaN NaN
d   9  10  11   NaN NaN
e  12  13  14   NaN NaN
f  15  16  17  18.0 NaN

In [163]:
df[df.notnull()]

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [166]:
# select the non-NaN items in column c4
df.c4[df.c4.notnull()]

a    20.0
f    18.0
Name: c4, dtype: float64

In [171]:
df[df.c4.notnull()]

   c1  c2  c3    c4  c5
a   0   1   2  20.0 NaN
f  15  16  17  18.0 NaN

In [172]:
# .dropna will also return non NaN values
# this gets all non NaN items in column c4
df.c4.dropna()

a    20.0
f    18.0
Name: c4, dtype: float64

In [169]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [180]:
df['c5']['a'] = 1
df

c:\python373\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   c1  c2  c3    c4   c5
a   0   1   2  20.0  1.0
b   3   4   5   NaN  NaN
c   6   7   8   NaN  NaN
d   9  10  11   NaN  NaN
e  12  13  14   NaN  NaN
f  15  16  17  18.0  NaN

In [178]:
df['c1']['g'] = 1

In [179]:
df

   c1  c2  c3    c4   c5
a   0   1   2  20.0  1.0
b   3   4   5   NaN  NaN
c   6   7   8   NaN  NaN
d   9  10  11   NaN  NaN
e  12  13  14   NaN  NaN
f  15  16  17  18.0  NaN

In [181]:
df.dropna()

### all the columns should be not null for a row 
## if one colum value is null or Nan for a row, dropna method will drop that row

   c1  c2  c3    c4   c5
a   0   1   2  20.0  1.0

In [182]:
# dropna returns a copy with the values dropped
# the source DataFrame / column is not changed
df.c4

a    20.0
b     NaN
c     NaN
d     NaN
e     NaN
f    18.0
Name: c4, dtype: float64

In [185]:
# on a DataFrame this will drop entire rows
# where there is at least one NaN
# in this case, that is all rows
df.dropna()

   c1  c2  c3    c4   c5
a   0   1   2  20.0  1.0

In [186]:
# using how='all', only rows that have all values
# as NaN will be dropped
a = df.dropna(how = 'any')
a

   c1  c2  c3    c4   c5
a   0   1   2  20.0  1.0

In [187]:
# using how='all', only rows that have all values
# as NaN will be dropped
a = df.dropna(how = 'all')
a

   c1  c2  c3    c4   c5
a   0   1   2  20.0  1.0
b   3   4   5   NaN  NaN
c   6   7   8   NaN  NaN
d   9  10  11   NaN  NaN
e  12  13  14   NaN  NaN
f  15  16  17  18.0  NaN

In [189]:
df['c5'][0] = np.nan

c:\python373\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [190]:
df

   c1  c2  c3    c4  c5
a   0   1   2  20.0 NaN
b   3   4   5   NaN NaN
c   6   7   8   NaN NaN
d   9  10  11   NaN NaN
e  12  13  14   NaN NaN
f  15  16  17  18.0 NaN

In [200]:
# flip to drop columns instead of rows
df.dropna(how='all', axis=1) # say goodbye to c5, axis = 1 column

     c1    c2    c3    c4
a   0.0   1.0   2.0  20.0
b   3.0   4.0   5.0   NaN
c   6.0   7.0   8.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   NaN
f  15.0  16.0  17.0  18.0
g   NaN   NaN   NaN   NaN

In [193]:
df.loc["g"] = np.nan

In [194]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [199]:
# flip to drop columns instead of rows
df.dropna(how='all', axis=0) # say goodbye to c5

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN

In [196]:
# make a copy of df
df2 = df.copy()

# replace two NaN cells with values
df2.ix['g'].c1 = 0
df2.ix['g'].c3 = 0

df2

c:\python373\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """
c:\python373\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   0.0   NaN   0.0   NaN NaN

In [197]:
# now drop columns with any NaN values
df2.dropna(how='any', axis=0)

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

In [201]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [204]:
# only drop columns with at least 5 NaN values
#threshold is minimum not nan values

df.dropna(thresh=6, axis=1)

     c1    c2    c3
a   0.0   1.0   2.0
b   3.0   4.0   5.0
c   6.0   7.0   8.0
d   9.0  10.0  11.0
e  12.0  13.0  14.0
f  15.0  16.0  17.0
g   NaN   NaN   NaN

In [205]:
df.dropna(thresh=2, axis=1)

     c1    c2    c3    c4
a   0.0   1.0   2.0  20.0
b   3.0   4.0   5.0   NaN
c   6.0   7.0   8.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   NaN
f  15.0  16.0  17.0  18.0
g   NaN   NaN   NaN   NaN

In [206]:
# only drop columns with at least 5 NaN values
#threshold is minimum not nan values

df.dropna(thresh=6, axis=0)

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

In [208]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [210]:
# only drop columns with at least 5 NaN values
#threshold is minimum not nan values

df.dropna(thresh=3, axis=0)

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN

In [211]:
# NaN's don't count as an item in calculating
# the means
df.mean()

c1     7.5
c2     8.5
c3     9.5
c4    19.0
c5     NaN
dtype: float64

In [243]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [212]:
# return a new DataFrame with NaN's filled with 0
filled = df.fillna(0.0)
filled

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0  20.0  0.0
b   3.0   4.0   5.0   0.0  0.0
c   6.0   7.0   8.0   0.0  0.0
d   9.0  10.0  11.0   0.0  0.0
e  12.0  13.0  14.0   0.0  0.0
f  15.0  16.0  17.0  18.0  0.0
g   0.0   0.0   0.0   0.0  0.0

In [213]:
# having replaced NaN with 0 can make
# operations such as mean have different results
filled.mean()

c1    6.428571
c2    7.285714
c3    8.142857
c4    5.428571
c5    0.000000
dtype: float64

In [218]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [225]:
# only fills the first two NaN's in each row with 0
fill_2 = df.fillna(0, limit=2, axis = 1 )
print(fill_2)

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0  20.0  0.0
b   3.0   4.0   5.0   0.0  0.0
c   6.0   7.0   8.0   0.0  NaN
d   9.0  10.0  11.0   NaN  NaN
e  12.0  13.0  14.0   NaN  NaN
f  15.0  16.0  17.0  18.0  NaN
g   0.0   0.0   0.0   NaN  NaN

In [227]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [236]:
# only fills the first two NaN's in each row with 0
fill_2 = df.fillna(0, limit=3, axis = 1)
print(fill_2)

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0  20.0  0.0
b   3.0   4.0   5.0   0.0  0.0
c   6.0   7.0   8.0   0.0  0.0
d   9.0  10.0  11.0   0.0  NaN
e  12.0  13.0  14.0   NaN  NaN
f  15.0  16.0  17.0  18.0  NaN
g   0.0   0.0   0.0   NaN  NaN

In [239]:
# only fills the first two NaN's in each row with 0
fill_2 = df.fillna("#", limit=5)
print(df)
fill_2

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

   c1  c2  c3  c4   c5
a   0   1   2  20    #
b   3   4   5   #    #
c   6   7   8   #    #
d   9  10  11   #    #
e  12  13  14   #    #
f  15  16  17  18  NaN
g   #   #   #   #  NaN

In [240]:
df3 = df2.copy()
df3
df3["c6"] = np.NaN
df3["c7"] = np.NaN
df3["c8"] = np.NaN
df3["c9"] = np.NaN
df3.c1 = np.NaN

In [241]:
df3

   c1    c2    c3    c4  c5  c6  c7  c8  c9
a NaN   1.0   2.0  20.0 NaN NaN NaN NaN NaN
b NaN   4.0   5.0   NaN NaN NaN NaN NaN NaN
c NaN   7.0   8.0   NaN NaN NaN NaN NaN NaN
d NaN  10.0  11.0   NaN NaN NaN NaN NaN NaN
e NaN  13.0  14.0   NaN NaN NaN NaN NaN NaN
f NaN  16.0  17.0  18.0 NaN NaN NaN NaN NaN
g NaN   NaN   0.0   NaN NaN NaN NaN NaN NaN

In [242]:
# only fills the first two NaN's in each row with 0
fill_2 = df3.fillna(0, limit=2)
fill_2

    c1    c2    c3    c4   c5   c6   c7   c8   c9
a  0.0   1.0   2.0  20.0  0.0  0.0  0.0  0.0  0.0
b  0.0   4.0   5.0   0.0  0.0  0.0  0.0  0.0  0.0
c  NaN   7.0   8.0   0.0  NaN  NaN  NaN  NaN  NaN
d  NaN  10.0  11.0   NaN  NaN  NaN  NaN  NaN  NaN
e  NaN  13.0  14.0   NaN  NaN  NaN  NaN  NaN  NaN
f  NaN  16.0  17.0  18.0  NaN  NaN  NaN  NaN  NaN
g  NaN   0.0   0.0   NaN  NaN  NaN  NaN  NaN  NaN

In [264]:
# only fills the first two NaN's in each row with 0
fill_3 = df3.fillna(1, limit=5)
print(fill_3)
fill_3

    c1    c2    c3    c4   c5   c6   c7   c8   c9
a  1.0   1.0   2.0  20.0  1.0  1.0  1.0  1.0  1.0
b  1.0   4.0   5.0   1.0  1.0  1.0  1.0  1.0  1.0
c  1.0   7.0   8.0   1.0  1.0  1.0  1.0  1.0  1.0
d  1.0  10.0  11.0   1.0  1.0  1.0  1.0  1.0  1.0
e  1.0  13.0  14.0   1.0  1.0  1.0  1.0  1.0  1.0
f  NaN  16.0  17.0  18.0  1.0  NaN  NaN  NaN  NaN
g  NaN   1.0   0.0   1.0  NaN  NaN  NaN  NaN  NaN

    c1    c2    c3    c4   c5   c6   c7   c8   c9
a  1.0   1.0   2.0  20.0  1.0  1.0  1.0  1.0  1.0
b  1.0   4.0   5.0   1.0  1.0  1.0  1.0  1.0  1.0
c  1.0   7.0   8.0   1.0  1.0  1.0  1.0  1.0  1.0
d  1.0  10.0  11.0   1.0  1.0  1.0  1.0  1.0  1.0
e  1.0  13.0  14.0   1.0  1.0  1.0  1.0  1.0  1.0
f  NaN  16.0  17.0  18.0  1.0  NaN  NaN  NaN  NaN
g  NaN   1.0   0.0   1.0  NaN  NaN  NaN  NaN  NaN

In [259]:
df3

   c1    c2    c3    c4   c5  c6  c7  c8  c9
a NaN   1.0   2.0  20.0  1.0 NaN NaN NaN NaN
b NaN   4.0   5.0   NaN  NaN NaN NaN NaN NaN
c NaN   7.0   8.0   NaN  NaN NaN NaN NaN NaN
d NaN  10.0  11.0   NaN  NaN NaN NaN NaN NaN
e NaN  13.0  14.0   NaN  NaN NaN NaN NaN NaN
f NaN  16.0  17.0  18.0  NaN NaN NaN NaN NaN
g NaN   NaN   0.0   NaN  NaN NaN NaN NaN NaN

## Filling in missing data

In [268]:
df.c4

a    20.0
b     NaN
c     NaN
d     NaN
e     NaN
f    18.0
g     NaN
Name: c4, dtype: float64

In [243]:
# extract the c4 column and fill NaNs forward
df.c4.fillna(method="ffill")

a    20.0
b    20.0
c    20.0
d    20.0
e    20.0
f    18.0
g    18.0
Name: c4, dtype: float64

In [244]:
# perform a backwards fill
df.c4.fillna(method="bfill")

a    20.0
b    18.0
c    18.0
d    18.0
e    18.0
f    18.0
g     NaN
Name: c4, dtype: float64

# Visualizing Data

#### Data Frame Plot
<a href="https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#plotting">Generating Various charts directly from DataFrame</a>

In [246]:
# plot the Adj Close values we just read in
goog.plot(y='Adj Close', figsize=(12,8));
plt.savefig('5128OS_01_02.png', bbox_inches='tight', dpi=300)

NameError: name 'goog' is not defined