<h6> function to sum two numbers </h6>

In [ ]:
def sum2num(a,b):
    return a + b

In [21]:
result = sum2num(1987654321,345672890)
result
#print(result)

2333327211

In [ ]:
result = sum2num(198761,3490)
result

In [ ]:
result = sum2num(154321,3456)
result

In [ ]:
result = sum2num(19821,3456)
result

### just for heading