**Data Types**

Numbers
strings
List
Tuple
Set 
Dictionary

**Numbers**
Integers , Float, Complex

**String Data Types**
Single Line String
Multiline Strings

**List **
List is ordered sequence of items, Different type of data
List is mutable (ie) Value can be changed at anytime by indexing. 
(ie)

**Tuple**
It is also having different type of data.
It's immutable, Value can't be changed with indexing.

**Set** 
Ordered Collection of unique type of data or similar type of data.

**Dictionary**
Dictionary is collection of key, value pairs

**Numbers Data Type **

In [ ]:
a= 5
b= 2.0
c= 1+2j
d="Hello, Welcome to Python "
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(a+b)
print(b+c)
print(a+b+c)
print(a+b+c)

**String**

**String Can be multiline or single line** <br>
**Single Line String wrapped in single quotes/double quotes**<br>
a = "Hello, welcome to python"<br>
b = 'Hello, welcome to python'<br>
Multiline String<br>
Multi_a = """This is a multiline string 
            which contains multiple lines of data
            It has to be enclosed in three sets of single/double quotes"""<br>
Multi_a = '''This is a multiline string 
            which contains multiple lines of data
            It has to be enclosed in three sets of single/double quotes'''<br>
#Escape Sequence
escape_doublequote = "Hello\", welcome to python"
print(escape_doublequote)

In [ ]:
#Single Line String
a = "Hello', welcome to python"
b = 'Hello", welcome to python'

#Multiline String
Multi_a = """This is a multiline string 
            which contains multiple lines of data
            It has to be enclosed in three sets of single/double quotes"""

Multi_b = '''This is a multiline string 
            which contains multiple lines of data
            It has to be enclosed in three sets of single/double quotes'''

print(a)
print(b)
print(Multi_a)
print(Multi_b)
#Escape Sequence
c = 'Hello\', welcome to python'
d = 'Hello\", welcome to python'
escape_doublequote = "Hello\", welcome to python"
print(c)
print(d)
print(escape_doublequote)

<h3>Methods in String Data Type</h3>
<ol type = "A">
    <li>Capitalize</li>
    <li>Casefold</li>
    <li>Center</li>
    <li>Count</li>
    <li>Encode</li>
    <li>Endswith</li>
    <li>Expandtabs</li>
    <li>Find</li>
    <li>Split</li>
    <li>Rsplit</li>
    <li>Splitlines</li>
    <li>Title</li>
    <li>Index</li>
    <li>Isalnum</li>
    <li>Isalpha</li>
    <li>Isdecimal</li>
    <li>Rpartition</li>
    <li>Substring</li> 
    <li>Lower</li>
    <li>Upper</li>
    <li>Strip</li>
    <li>RStrip</li>
    <li>LStrip</li>
</ol>

In [1]:
# Capitalize - capitalizes the start of the string 
a ="welcome to python"
b = a.capitalize()

print(b)

Welcome to python

In [2]:
# case fold -  Converts all the characters to lower
a = "HellO worLd"
b = a.casefold()
print(b)

hello world

In [ ]:
#Lower - Converts all the characters to lower case
a = "THis is Python WorlD"
b =  a.lower()
print(b)

In [3]:
#Upper - Converts all the characters to Upper case
a = "THis is Python WorlD"
b =  a.upper()
print(b)

THIS IS PYTHON WORLD

In [4]:
#Title - Converts string into camel case
a = "THis is python 1worlD"
b =  a.title()
print(b)

This Is Python 1World

In [5]:
#Center
mytext = "India"
centermytext = mytext.center(20)
print(centermytext)
centermytext = mytext.center(20,"$")
print(centermytext)
centermytext = mytext.center(11,"$")
print(centermytext)
mytext = "Russia"
centermytext = mytext.center(20)
print(centermytext)
centermytext = mytext.center(20,"$")
print(centermytext)
centermytext = mytext.center(11,"$")
print(centermytext)

       India
$$$$$$$India$$$$$$$$
$$$India$$$
       Russia
$$$$$$$Russia$$$$$$$
$$$Russia$$

In [7]:
#Find 
mytext  = "python is a best a language"
result =   mytext.find("python")
print(result)
result =   mytext.find("a")
print(result)
result = mytext.find("language")
print(result)
result = mytext.find("Rlang")
print(result)

0
10
19
-1

In [12]:
#Index - Check the occurence of a string in a string and returns its index position
mytext  = "python is a best language"
result =   mytext.index("python")
print(result)
result = mytext.index("language")
print(result)
#result = mytext.index("Rlang")
#print(result)

if(mytext.find("RLang")>=0):
    print("present")
else:
    print("not present")
    
if(mytext.find("1language")>=0 and mytext.index("language") <= 20):
    print("present")
else:
    print("not present")
    
if(mytext.index("python")>0 and mytext.index("python") <= 20):
    print("present")
else:
    print("not present")

0
17
not present
not present
not present

In [13]:
#Count 
infotext  = "Welcome to my World, The World is too good to live"
result = infotext.count("World")
print("all occurence count %d" %result)
result = infotext.count("World",20)
print("occurence between 20th index and end of string count is %d" %result)
result = infotext.count("World",14,20)
print("occurence between 14th index and 20th index count is  %d" %result)
result = infotext.count(infotext)
print("occurence of entire string {}".format(result))
#Note: 
#Calculate the count of all words in the given string 
[print( " \n "+ x + " - Count - {}".format(infotext.count(x))) for x in infotext.split()]
#print("#################################")
#for x in infotext.split():
#    print(infotext.index(x)+1, x, infotext.count(x))
#    None

all occurence count 2
occurence between 20th index and end of string count is 1
occurence between 14th index and 20th index count is  1
occurence of entire string 1

 Welcome - Count - 1

 to - Count - 3

 my - Count - 1

 World, - Count - 1

 The - Count - 1

 World - Count - 2

 is - Count - 1

 too - Count - 1

 good - Count - 1

 to - Count - 3

 live - Count - 1

[None, None, None, None, None, None, None, None, None, None, None]

In [16]:

#Substring
TestString = "Hello Python"
print(TestString[0:5])
print(TestString[:5])
print(TestString[7])
print(TestString[6:12])
print("##########")
print(TestString[5:])
print(TestString[-5:-1])
print(TestString[:-1])
print(TestString[-1:-5])
print("##########")
print(TestString[:])

Hello
Hello
y
Python
##########
 Python
ytho
Hello Pytho

##########
Hello Python

In [17]:
#Alpha, Alphanumeric and Decimal Checking
myalpha ="abcd" #contains characters [a-zA-Z]
myalphanumeric = "abcdef123" #contains characters [a-zA-Z0-9]
mynotalphanumeric= "&abcdef123" # Not fitting all three cases (Contain a symbol)
mydecimal ="123" #contains characters [0-9]
#write 
print("myalpa string is alpha - {}".format(myalpha.isalpha()))
print("myalphanumeric string is alpha - {}".format(myalphanumeric.isalpha()))
print("mynotalphanumeric string is alpha - {}".format(mynotalphanumeric.isalpha()))
print("mydecimal string is alpha - {}".format(mydecimal.isalpha()))
print("\n")
print("myalpa string is alphanumeric - {}".format(myalpha.isalnum()))
print("myalphanumeric string is alphanumeric - {}".format(myalphanumeric.isalnum()))
print("mynotalphanumeric string is alphanumeric - {}".format(mynotalphanumeric.isalnum()))
print("mydecimal string is alphanumeric - {}".format(mydecimal.isalnum()))
#print("mydecimal string {1} is alphanumeric - {0}".format(mydecimal.isalnum(),"Hello"))
print("\n")
print("myalpa string is decimal - {}".format(myalpha.isdecimal()))
print("myalphanumeric string is decimal - {}".format(myalphanumeric.isdecimal()))
print("mynotalphanumeric string is decimal - {}".format(mynotalphanumeric.isdecimal()))
print("mydecimal string is decimal - {}".format(mydecimal.isdecimal()))

myalpa string is alpha - True
myalphanumeric string is alpha - False
mynotalphanumeric string is alpha - False
mydecimal string is alpha - False


myalpa string is alphanumeric - True
myalphanumeric string is alphanumeric - True
mynotalphanumeric string is alphanumeric - False
mydecimal string is alphanumeric - True


myalpa string is decimal - False
myalphanumeric string is decimal - False
mynotalphanumeric string is decimal - False
mydecimal string is decimal - True

In [18]:
#Startswith, #Endswith

infotext =  "Welcome to Python"
print(infotext.startswith("Welcome"))
print(infotext[5:])
print(infotext.startswith("Welcome",5))
print(infotext[0:8])
print(infotext.startswith("Welcome",0,8))
print(infotext.endswith("Python"))
print(infotext[0:7])
print(infotext.endswith("Welcome",0,7))
print(infotext[2:8])
print(infotext.endswith("Welcome",2,8))

True
me to Python
False
Welcome
True
True
Welcome
True
lcome
False

In [19]:
# Expand Tabs 
#===============================================================================
#mytabbedstring = "H    e    l    l    o"
mytabbedstring = "H\te\tl\tl\to\n#####"
print(mytabbedstring)
print(mytabbedstring.expandtabs(0))
print(mytabbedstring.expandtabs(2))
print(mytabbedstring.expandtabs(4))
print(mytabbedstring.expandtabs(tabsize = 5))
print(mytabbedstring.expandtabs(6))
print(mytabbedstring.expandtabs(8))
print("\n")

H	e	l	l	o
#####
Hello
#####
H e l l o
#####
H   e   l   l   o
#####
H    e    l    l    o
#####
H     e     l     l     o
#####
H       e       l       l       o
#####

In [21]:
#Split
Fruits = "apple,orange, grapes, guava, pineapple"
#Split("characterseparator",max) max  -maximum no of times to split
AllFruits = Fruits.split(",")
print(AllFruits)
ThreeFruits = Fruits.split(",",2)
print(ThreeFruits)

['apple', 'orange', ' grapes', ' guava', ' pineapple']
['apple', 'orange', ' grapes, guava, pineapple']

In [26]:
#Split Lines 
multilinestring = """India is a vast South Asian country with diverse terrain –
                from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia. 
                In the north, Mughal Empire landmarks include Delhi’s Red Fort complex
                and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum. 
                Pilgrims bathe in the Ganges in Varanasi,and Rishikesh is a yoga centre and base for Himalayan trekking."""
Y  = multilinestring.splitlines(True)
print("####################################################################")
print(Y)
print("####################################################################")
[print(x) for x in Y]

IgnoreNewlineCharacter = multilinestring.splitlines()
print("####################################################################")
print(IgnoreNewlineCharacter)
print("####################################################################")
[print(x) for x in IgnoreNewlineCharacter]

####################################################################
['India is a vast South Asian country with diverse terrain –\n', '                from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia. \n', '                In the north, Mughal Empire landmarks include Delhi’s Red Fort complex\n', '                and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum. \n', '                Pilgrims bathe in the Ganges in Varanasi,and Rishikesh is a yoga centre and base for Himalayan trekking.']
####################################################################
India is a vast South Asian country with diverse terrain –

                from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.

                In the north, Mughal Empire landmarks include Delhi’s Red Fort complex

                and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum.

                Pilgrims bathe in the Ganges in Varanasi,and Rishikesh is a yoga centre and base for Himalayan trekking.
####################################################################
['India is a vast South Asian country with diverse terrain –', '                from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia. ', '                In the north, Mughal Empire landmarks include Delhi’s Red Fort complex', '                and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum. ', '                Pilgrims bathe in the Ganges in Varanasi,and Rishikesh is a yoga centre and base for Himalayan trekking.']
####################################################################
India is a vast South Asian country with diverse terrain –
                from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.
                In the north, Mughal Empire landmarks include Delhi’s Red Fort complex
                and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum.
                Pilgrims bathe in the Ganges in Varanasi,and Rishikesh is a yoga centre and base for Himalayan trekking.

[None, None, None, None, None]

In [27]:
#Partition - Splits the string as  before match, match and after match, returns it as a tuple
infotext  = "this is my world"
result = infotext.partition("my")
print(result)
result = infotext.partition("is")
print(result)
infotext  = "Welcome to my World, The World is too good to live"
result = infotext.partition("World")
print(result)

('this is ', 'my', ' world')
('th', 'is', ' is my world')
('Welcome to my ', 'World', ', The World is too good to live')

In [29]:
#Strip Operations
#Strip - Strips characters at both end of the string
#Rstrip - Strips characters at Right end of the string
#Lstrip - Strips characters at left end of the string
#input string a with whitespaces at corners
a  = " Ode on a Grecian Urts "
#strip
b = a.strip()
print(b)
#lstrip
b = a.lstrip()
print(b)
#Rstrip
b = a.rstrip()
print(b)
#Stripping with characters
a  = ",,,,,????... Ode on a Grecian Urts ..?..,,,"
#strip
b = a.strip(".,? ")
print(b)
#lstrip
b = a.lstrip(",. ")#stops stripping after encountering a different character ? is not a stripping character here, hence stopped.
print(b)
#Rstrip
b = a.rstrip(",. ")
print(b)

Ode on a Grecian Urts
Ode on a Grecian Urts
 Ode on a Grecian Urts
Ode on a Grecian Urts
????... Ode on a Grecian Urts ..?..,,,
,,,,,????... Ode on a Grecian Urts ..?

In [31]:
#Encoding 
# String Encode Function 
# encode #execute this in command prompt, it depends upon the ide which supports the special character
myencodedstring  = "I åm leărning Pythȏn"
print(myencodedstring.encode(encoding = 'ascii', errors = 'backslashreplace'))
print(myencodedstring.encode(encoding = 'ascii', errors = 'ignore'))
print(myencodedstring.encode(encoding = 'ascii', errors = 'namereplace'))
print(myencodedstring.encode(encoding = 'ascii', errors = 'replace'))
print(myencodedstring.encode(encoding = 'ascii', errors = 'xmlcharrefreplace'))
print(myencodedstring.encode(encoding = 'ascii', errors = 'strict'))
print("\n")

b'I \\xe5m le\\u0103rning Pyth\\u020fn'
b'I m lerning Pythn'
b'I \\N{LATIN SMALL LETTER A WITH RING ABOVE}m le\\N{LATIN SMALL LETTER A WITH BREVE}rning Pyth\\N{LATIN SMALL LETTER O WITH INVERTED BREVE}n'
b'I ?m le?rning Pyth?n'
b'I &#229;m le&#259;rning Pyth&#527;n'

UnicodeEncodeError: 'ascii' codec can't encode character '\xe5' in position 2: ordinal not in range(128)

# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [34]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [38]:
my_list1 = [4.0,5.0,6]
my_list2 = [4,5.0+3j,"abc"]

In [36]:
print(my_list1)
print(my_list2)

[4.0, 5.0, 6]
[4, (5+3j), 'abc']

In [37]:
#Combining lists 
list_combined =my_list1+my_list2
print(list_combined)

[4.0, 5.0, 6, 4, (5+3j), 'abc']

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [ ]:
#just take the 1st element at the list
list_combined[0]

In [ ]:
#retrive the 1st element until third
list_combined[0:3]

In [ ]:
#retrive the 2nd element until the end of the list
list_combined[2:]

**We can also use + to concatenate lists, just like we did for strings.**

In [ ]:
add_tolist = list_combined + ["def","ghi"]
print(add_tolist)

** Duplicating list **

In [ ]:
duplicated_list = add_tolist * 2
print(duplicated_list)

<h5> Lists Methods <h5>
<ol type = "A">
    <li>Append</li>
    <li>Clear</li>
    <li>Count</li> 
    <li>Extend</li>
    <li>Index</li>
    <li>Insert</li>
    <li>Pop</li>
    <li>Remove</li>
    <li>Reverse</li>
    <li>Sort</li>
</ol>

In [1]:
Cities =["Chennai","Bangalore", "Delhi","Kolkatta"]
#Append
print("Cities  - {} ".format(Cities))
#add a new item to the list
Cities.append("Hyderabad")
print("Cities  - {} ".format(Cities))
#Cities.append(["Mumbai","Pune"])
#print("Cities  - {} ".format(Cities))

Cities  - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta']
Cities  - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']

In [2]:
#Clear 
#Removes all the items from the list
Cities.clear()
print(Cities)

[]

In [3]:
#Add the Items Back
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad"]
print(Cities)
#Count -  Used to find the count of an item
count_givencity = Cities.count("Chennai")
print(count_givencity)
Cities.append("Chennai")
print(Cities)
count_givencity = Cities.count("Chennai")
print("Count of City after adding again {}".format(count_givencity))

['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']
1
['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad', 'Chennai']
Count of City after adding again 2

In [5]:
#extend
# To extend the items of a list with another list of items, lets add another city list to existing one
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad"]
NewCities = ["Mumbai","Pune","Agra","Kanpur","Noida","Visakhapatnam"]
print("Cities - {}".format(Cities))
print("New Cities - {}".format( NewCities))
Cities.extend(NewCities)
print("Cities after Extend  {}".format(Cities))

Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']
New Cities - ['Mumbai', 'Pune', 'Agra', 'Kanpur', 'Noida', 'Visakhapatnam']
Cities after Extend  ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad', 'Mumbai', 'Pune', 'Agra', 'Kanpur', 'Noida', 'Visakhapatnam']

In [8]:
#index
GetIndex = Cities.index("Chennai")
print(GetIndex)
GetIndex = Cities.index("Noida")
print(GetIndex)

0
9

In [11]:
#Insert 
#Add an item to a particular postion/index
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad"]
print(Cities)
Cities.insert(1,"Mumbai")
print("Cities - {}".format(Cities))
#Cities.insert("Pune")
#print("Cities - {}".format(Cities))

['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']
Cities - ['Chennai', 'Mumbai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']

In [9]:
#Pop Operation
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad"]
print("Cities - {}".format(Cities))
Cities.pop(2)
print("After Pop Operation  , Cities - {}".format(Cities))

Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']
After Pop Operation  , Cities - ['Chennai', 'Bangalore', 'Kolkatta', 'Hyderabad']

In [15]:
#Remove
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad", "Kolkatta"]
print("Cities - {}".format(Cities))
#Cities.remove("Kolkatta")
print("After remove Operation  , Cities - {}".format(Cities))
print("################################")
#Cities.remove('Kolkatta')
#Cities.remove('Kolkatta')
a =0
while 'Kolkatta' in Cities:
    a+=1
    print(a)
    Cities.remove('Kolkatta')
    print("Cities - {}".format(Cities))
print("################################")

Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad', 'Kolkatta']
After remove Operation  , Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad', 'Kolkatta']
################################
1
Cities - ['Chennai', 'Bangalore', 'Delhi', 'Hyderabad', 'Kolkatta']
2
Cities - ['Chennai', 'Bangalore', 'Delhi', 'Hyderabad']
################################

In [16]:
while 'Kolkatta' in Cities:
    Cities.remove('Kolkatta')
    print("Cities - {}".format(Cities))
print("################################")#Reverse
#Reverses the list
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad"]
Cities.reverse()
print(Cities)

################################
['Hyderabad', 'Kolkatta', 'Delhi', 'Bangalore', 'Chennai']

In [22]:
#Sort
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad","Mumbai","Pune","Agra","Kanpur","Noida","Visakhapatnam"]#

#Cities.sort(False, key = None)
print("Cities - {}".format(Cities))

def overlength(e):
    return len(e)

def overacharcount(e):
    return e.count("a")

Cities.sort()
print(Cities)
print("##################################################################################################")
Cities.sort(reverse = True)
print(Cities)
print("##################################################################################################")
Cities.sort(reverse = True, key = overlength)
print("Cities - In desc order of Length - {}".format(Cities))
print("##################################################################################################")
Cities.sort(reverse = False, key = overlength)
print("Cities - In asc order of Length  - {}".format(Cities))
print("##################################################################################################")
Cities.sort(reverse = True, key = overacharcount)
print("Cities - In desc order of character 'a' count - {}".format(Cities))
print("##################################################################################################")
Cities.sort(reverse = False, key = overacharcount)
print("Cities - In asc order of character 'a' count - {}".format(Cities))
print("##################################################################################################")
Cities.sort(reverse = True, key = overlength)
Cities.sort()
print(Cities)

Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad', 'Mumbai', 'Pune', 'Agra', 'Kanpur', 'Noida', 'Visakhapatnam']
['Agra', 'Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kanpur', 'Kolkatta', 'Mumbai', 'Noida', 'Pune', 'Visakhapatnam']
##################################################################################################
['Visakhapatnam', 'Pune', 'Noida', 'Mumbai', 'Kolkatta', 'Kanpur', 'Hyderabad', 'Delhi', 'Chennai', 'Bangalore', 'Agra']
##################################################################################################
Cities - In desc order of Length - ['Visakhapatnam', 'Hyderabad', 'Bangalore', 'Kolkatta', 'Chennai', 'Mumbai', 'Kanpur', 'Noida', 'Delhi', 'Pune', 'Agra']
##################################################################################################
Cities - In asc order of Length  - ['Pune', 'Agra', 'Noida', 'Delhi', 'Mumbai', 'Kanpur', 'Chennai', 'Kolkatta', 'Hyderabad', 'Bangalore', 'Visakhapatnam']
##################################################################################################
Cities - In desc order of character 'a' count - ['Visakhapatnam', 'Kolkatta', 'Hyderabad', 'Bangalore', 'Agra', 'Noida', 'Mumbai', 'Kanpur', 'Chennai', 'Pune', 'Delhi']
##################################################################################################
Cities - In asc order of character 'a' count - ['Pune', 'Delhi', 'Agra', 'Noida', 'Mumbai', 'Kanpur', 'Chennai', 'Kolkatta', 'Hyderabad', 'Bangalore', 'Visakhapatnam']
##################################################################################################
['Agra', 'Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kanpur', 'Kolkatta', 'Mumbai', 'Noida', 'Pune', 'Visakhapatnam']

### Tuple 
Tuple is an immutable datatype, containing different data type of elements <br>

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [41]:
# Create a tuple
t = (1,2,3) 
u = 1.0+2j, 3.0+3j,"a","bb" #mixed type of objects
v = (1,1.0,2.0+3.0j,"a",["aa","bb"],(1.0,2.0,3.0),{1,2,3},{"a":1})#mixed type of objects with parenthesis enclosure
print(type(t))
print(type(u))
print(type(v))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [37]:
#lets create another tuple from existing tuples u and v
u = u + v 
print(u)

((1+2j), (3+3j), 'a', 'bb', 1, 1.0, (2+3j), 'a', ['aa', 'bb'], (1.0, 2.0, 3.0), {1, 2, 3}, {'a': 1})

In [42]:
w = u + v 
print(w)
#lets verify the datatype for the above
for element in w:
    print( element ,type(element))
#the same can done with lists also.

((1+2j), (3+3j), 'a', 'bb', 1, 1.0, (2+3j), 'a', ['aa', 'bb'], (1.0, 2.0, 3.0), {1, 2, 3}, {'a': 1})
(1+2j) <class 'complex'>
(3+3j) <class 'complex'>
a <class 'str'>
bb <class 'str'>
1 <class 'int'>
1.0 <class 'float'>
(2+3j) <class 'complex'>
a <class 'str'>
['aa', 'bb'] <class 'list'>
(1.0, 2.0, 3.0) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'a': 1} <class 'dict'>

#### creating tuple from another tuple

In [43]:
#Slicing is supported
print(t[1])

#Indexing 
u[2] = "aa"

2

TypeError: 'tuple' object does not support item assignment

In [44]:
#Tuple contains nested tuples
t1 = ("apple", 3, 1.4, ("banana", 5))
for element in t1:
    print( element ,type(element))

apple <class 'str'>
3 <class 'int'>
1.4 <class 'float'>
('banana', 5) <class 'tuple'>

In [45]:
#check the membership of an element in a tuple
#in operation is used to check the membership
# membership is true if the value is present else false
t1 = ("apple", "banana", "cherry","apple")
print( "banana" in t1 )
print( "orange" in t1 )

True
False

##### Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [48]:

# Use .index to enter a value and return the index

print(t1.index('apple'))
# Use .count to count the number of times a value appears
print("count is {}".format(t1.count('apple')))

0
count is 2

In [49]:
# I would recommend always using parentheses
# to indicate start and end of tuple
# even though parentheses are optional.
# Explicit is better than implicit.
zoo = ('python', 'elephant', 'penguin')
print('Number of animals in the zoo is', len(zoo))
new_zoo = 'monkey', 'camel', zoo
print('Number of cages in the new zoo is', len(new_zoo))
print('All animals in new zoo are', new_zoo)
print('Animals brought from old zoo are', new_zoo[2])
print('Last animal brought from old zoo is', new_zoo[2][2])
print('Number of animals in the new zoo is',
len(new_zoo)-1+len(new_zoo[2]))

Number of animals in the zoo is 3
Number of cages in the new zoo is 3
All animals in new zoo are ('monkey', 'camel', ('python', 'elephant', 'penguin'))
Animals brought from old zoo are ('python', 'elephant', 'penguin')
Last animal brought from old zoo is penguin
Number of animals in the new zoo is 5

### Sets 
#### Set and Booleans
There are two other object types in Python that we should quickly cover: Sets and Booleans. 
#### Sets
Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [ ]:
### Creating a Set
#### Sets can be created with set constructor or by directly defining the values in a {} brackets

In [50]:
a1 = set()
b2 = {1,2,3}
print(type(a1))
print(type(b2))

<class 'set'>
<class 'set'>

### Various methods in Set 
<ul>
<li>membership "in"</li>
<li>isdisjoint</li>
<li>subset</li>
<li>propersubset</li>
<li>superset</li>
<li>propersuperset</li>
<li>union</li>
<li>intersection</li>
<li>difference</li>
<li>intersection_update</li>
<li>difference_update</li>
<li>symmetric_difference_update</li>
<li>copy</li>
<li>add</li>
<li>pop</li>
<li>remove</li>
<li>discard</li>
<li>clear</li>
<ul>

In [75]:
a = {1,2,3,4,5}
#a=1,2
#print(type(a))
b= {4,5,6}
c ={6,7,8}
d= {6,7,9,10,11 }
e ={0,1,6,7,11,22,33}
f = {1,2,3,6,7,8}
ab  ={1,2, 3, 4, 5}
aa = {"ab","bc","de"}
 
#print(len(a))
print(a in b)
print("######################")
#checking conditions
print("checking membership of c in ab code: c not in ab : result ={0}".format(c not in ab))
print("######################")

False
######################
checking membership of c in ab code: c not in ab : result =True
######################

In [52]:
print("checking if set a and ab  are disjoint a is disjoint to  ab code: a.isdisjoint(ab): result: {0} ".format(a.isdisjoint(ab)))
print("######################")

checking if set a and ab  are disjoint a is disjoint to  ab code: a.isdisjoint(ab): result: False
######################

In [53]:
print("check if all the members of a are members of set ab code:- a.issubset(ab): result - {0}".format(a.issubset(ab)))
print("######################")
print("check if all the members of a are members of set ab, , using symbol code: a <= ab : result   - {0}".format(a <= ab))
print("check if all the members of a are members of set ab and not equals to set ab ie proper subset code: a < ab : result - {0}".format(a < ab))
print("######################")

check if all the members of a are members of set ab code:- a.issubset(ab): result - True
######################
check if all the members of a are members of set ab, , using symbol code: a <= ab : result   - True
check if all the members of a are members of set ab and not equals to set ab ie proper subset code: a < ab : result - False
######################

In [54]:
print("check if all the members of a are members of set ab, here ab is called as superset of a code: ab.issuperset(a) : result - {0} ".format(ab.issuperset(a)))
print("check if all the members of a are members of set ab, here ab is called as superset of a, using symbol code: ab >= a result:  - {0}".format(ab >= a))
print("######################")
print("check if all the members of a are members of set ab, here ab is called as superset of a, and is a proper superset code: ab > a result: - {0}".format(ab > a))

check if all the members of a are members of set ab, here ab is called as superset of a code: ab.issuperset(a) : result - True
check if all the members of a are members of set ab, here ab is called as superset of a, using symbol code: ab >= a result:  - True
######################
check if all the members of a are members of set ab, here ab is called as superset of a, and is a proper superset code: ab > a result: - False

In [56]:
#operations
print("Union or combining elements from two sets code: a.union(b) : result: {}".format(a.union(b)))
print("Union or combining elements from two sets - using symbol  code: a|b : result: {}".format(a|b))
print("######################")

Union or combining elements from two sets code: a.union(b) : result: {1, 2, 3, 4, 5, 6}
Union or combining elements from two sets - using symbol  code: a|b : result: {1, 2, 3, 4, 5, 6}
######################

In [57]:
print("finding the common items between two sets code: a.intersection(b) result: - {0}".format(a.intersection(b)))
print("finding the common items between two sets -using symbol code: a & b result: - {0}".format(a&b))
print("######################")

finding the common items between two sets code: a.intersection(b) result: - {4, 5}
finding the common items between two sets -using symbol code: a & b result: - {4, 5}
######################

In [69]:
print("find the difference between two sets code: a.difference(b) {0}".format(a.difference(b)))
print("find the difference between two sets, a -b code: a-b : result: - {0} ".format(a-b))
#print("udpating one set with elements in other set code: c.update(b) - result {0}".format(c.update(b)))
print("######################")
print("C set is {0} ".format(c))
print("######################")
print("B set is {0} ".format(b))
print("######################")
c&=b
print("C set is {0} ".format(c))
print("D set is {0} ".format(d))
# 
print("intersection update between c and d: code: d.intersection_update(c) : result - {0}".format(d.intersection_update(c)))
print("C set is {0} ".format(c))
print("D set is {0} ".format(d))
#c &= d 
print("union update b with c and d ")
b|=c
b|=a
print("B set is {0} ".format(b))

find the difference between two sets code: a.difference(b) {1, 2, 3}
find the difference between two sets, a -b code: a-b : result: - {1, 2, 3}
######################
C set is {6}
######################
B set is {4, 5, 6}
######################
C set is {6}
D set is {6}
intersection update between c and d: code: d.intersection_update(c) : result - None
C set is {6}
D set is {6}
union update b with c and d
B set is {1, 2, 3, 4, 5, 6}

In [58]:
# 
print("C set value is  {0} ".format(c)) 
print("E set value is  {0} ".format(e)) 
print("difference updated between e and c code: e.difference_update(c) : result - {0}".format(e.difference_update(c)))
print("E set becomes {0} ".format(e))
print("######################")

C set value is  {8, 6, 7}
E set value is  {0, 1, 33, 6, 7, 11, 22}
difference updated between e and c code: e.difference_update(c) : result - None
E set becomes {0, 1, 33, 11, 22}
######################

In [70]:

print("D set becomes {0} ".format(d))
print("######################")  
# 
#print("intersection update between c and d: code: d.intersection_update(c) : result - {0}".format(d.intersection_update(c)))
# print("D set becomes {0} ".format(d))
# 
#
print("B set value is  {0} ".format(b)) 
print("C set value is  {0} ".format(c)) 
print("D set value is  {0} ".format(d)) 
 
print("difference updated between b and d , updates the code: b.difference_update(d) : result - {0}".format(b.difference_update(d)))
print("B set becomes {0} ".format(b))
#print("difference updated between b and c , updates the using the symbol: b -= c : result - {0}".format(b -= c))
print("B set becomes {0} ".format(b))
print("######################")

D set becomes {6}
######################
B set value is  {1, 2, 3, 4, 5, 6}
C set value is  {6}
D set value is  {6}
difference updated between b and d , updates the code: b.difference_update(d) : result - None
B set becomes {1, 2, 3, 4, 5}
B set becomes {1, 2, 3, 4, 5}
######################

In [76]:
print("A set becomes {0} ".format(a))
print("F set becomes {0} ".format(f))
print("symmetric difference updated between a and f code: a.symmetric_difference_update(f) : result - {0}".format(a.symmetric_difference_update(f)))
print("A set becomes {0} ".format(a))
print("F set becomes {0} ".format(f))
print("doing the operation again") 
a ^= f
print("F set becomes {0} after symmetric difference".format(f))
 
print("A set becomes {0} after symmetric difference".format(a))

A set becomes {1, 2, 3, 4, 5}
F set becomes {1, 2, 3, 6, 7, 8}
symmetric difference updated between a and f code: a.symmetric_difference_update(f) : result - None
A set becomes {4, 5, 6, 7, 8}
F set becomes {1, 2, 3, 6, 7, 8}
doing the operation again
F set becomes {1, 2, 3, 6, 7, 8} after symmetric difference
A set becomes {1, 2, 3, 4, 5} after symmetric difference

In [77]:
# 
z= aa.copy()
print("copying to another variable z {0}".format(z))

copying to another variable z {'de', 'bc', 'ab'}

In [78]:
aa.add("xy")
print("add condition result {0}".format(aa))

add condition result {'de', 'xy', 'bc', 'ab'}

In [79]:
aa.pop()
print("pop condition result {0}".format(aa))

pop condition result {'xy', 'bc', 'ab'}

In [83]:
aa.remove("ab")
print("remove condition result {0}".format(aa))

KeyError: 'ab1'

In [82]:
aa.discard("ab")
print("discard condition result {0}".format(aa))

discard condition result {'xy', 'bc'}

In [84]:
aa.clear()
print("clear condition result {0}".format(aa))

clear condition result set()

# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!m

In [ ]:
#Creating a dictionary
dict1 ={}
print(type(dict1))
#creating a dictionary with values
dict2 ={'name':'john','age': 25}
print(type(dict2))
#lets have multiple type of keys for a dictionary
from datetime import datetime
mydict =    {
  "type": "employee",
  "name": "John",
  "age": 41,
  "dept": "HR",
  1:"description1",
  2: "description2",
  "joiningdate":  datetime.now().strftime('%Y-%m-%d'),
  datetime.now(): "Date of Joining with key date in date time format",
  datetime.now().strftime('%Y-%m-%d'): "Date of Joining with key date in string format"
}
print(mydict)

Lets add another key named  "name": "John1", Since Name is already defined in the dictionary , It will update the key with the new value, if the value is “John1” then

In [ ]:
#Datetime library is used include date for keys and values.
from datetime import datetime
thisdict = {
  "type": "employee",
  "name": "John",
  "name": "John1",
  "age": 41,
  "dept": "HR",
  1:"description1: this description is holding a key 1 and it's not an  index",
  2: "description2",
  "joiningdate":  datetime.now().strftime('%Y-%m-%d'),
  datetime.now(): "Date of Joining with key date in date time format",
  datetime.now().strftime('%Y-%m-%d'): "Date of Joining with key date in string format"
}
print(thisdict)
print(type(thisdict))

In [ ]:
### Dictionaries can be indexed with keys not with index values or positions

In [ ]:
print(thisdict["name"])
print(thisdict[1])
print(thisdict[0])

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Set the object equal to itself minus 123 
print("Before subtraction: {}".format(my_dict))
my_dict['key1'] -= 1
my_dict['key2'][1] -= 1
print("After subtraction: {}".format(my_dict))

In [ ]:
fruitbasket = { "apple":3, "banana":5, "cherry":50 }
print( list( fruitbasket.keys() ) )
print( list( fruitbasket.values() ) )
print( list( fruitbasket.items() ) )

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
flowersdict = {}
flowersdict["flower1"] = "Rose"
flowersdict["flower2"] = "Shoeflower"
flowersdict["flower3"] = "Tulips"
flowersdict["flower4"] = "Daisy"
flowersdict["flower5"] = "Lotus"
print(flowersdict)

In [ ]:
## retrieving dict items

In [ ]:
dictitems = fruitbasket.items()

print(dictitems)
print(type(dictitems))

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'Animals':{'Carnivores':{'carnivore1':'lion','carnivore2':'Tiger'},'Herbivores':{'Herbivore1':'Deer','Herbivore2':'Antelope'}}}
print(type(d))
for x,y in d.items():
    print(type(x),x)
    print(type(y),y)
    if(type(y) == dict):
        for x1,y1 in y.items():
            print(type(x1),x1)
            print(type(y1),y1)

#### A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

<table class="views-table cols-2">
         <thead>
      <tr>
                  <th >
            Method          </th>
                  <th>
            Description          </th>
              </tr>
    </thead>
    <tbody>
          <tr>
                  <td>
            <a>Python Dictionary clear()</a>          </td>
                  <td>
            Removes all Items          </td>
              </tr>
          <tr>
                  <td>
            <a>Python Dictionary copy()</a>          </td>
                  <td>
            Returns Shallow Copy of a Dictionary          </td>
              </tr>
          <tr>
                  <td>
            Python Dictionary fromkeys()          
              </td>
                       <td> creates dictionary from given sequence          </td>
              </tr>
          <tr>
                  <td>
            Python Dictionary get()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns Value of The Key          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/items">Python Dictionary items()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns view of dictionary's (key, value) pair          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/keys">Python Dictionary keys()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns View Object of All Keys          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/popitem">Python Dictionary popitem()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns &amp; Removes Element From Dictionary          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/setdefault">Python Dictionary setdefault()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Inserts Key With a Value if Key is not Present          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/pop">Python Dictionary pop()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            removes and returns element having given key          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/values">Python Dictionary values()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns view of all values in dictionary          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/update">Python Dictionary update()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Updates the Dictionary          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/any">Python any()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Checks if any Element of an Iterable is True          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/all">Python all()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns true when all elements in iterable is true          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/ascii">Python ascii()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns String Containing Printable Representation          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/bool">Python bool()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Converts a Value to Boolean           </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/dict">Python dict()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Creates a Dictionary          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/enumerate">Python enumerate()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns an Enumerate Object          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/filter">Python filter()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            constructs iterator from elements which are true          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/iter">Python iter()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns iterator for an object          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/len">Python len()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns Length of an Object          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/max">Python max()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns largest element          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/min">Python min()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns smallest element          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/map">Python map()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Applies Function and Returns a List          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/sorted">Python sorted()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns sorted list from a given iterable          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/sum">Python sum()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Add items of an Iterable          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/zip">Python zip()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns an Iterator of Tuples          </td>
              </tr>
      </tbody>
</table>m

In [ ]:
dict.clear() 
Removes all elements of dictionary dict
dict.copy() 
Returns a shallow copy of dictionary dict
dict.fromkeys() 
Create a new dictionary with keys from seq and values set to value.
dict.get(key, default=None) 
For key key, returns value or default if key not in dictionary
dict.has_key(key) 
Returns true if key in dictionary dict, false otherwise
dict.items() 
Returns a list of dict's (key, value) tuple pairs
dict.keys() 
Returns list of dictionary dict's keys
dict.setdefault(key, default=None) 
Similar to get(), but will set dict[key]=default if key is not already in dictdict.update(dict2) 
Adds dictionary dict2's key-values pairs to dict
dict.values() 
Returns list of dictionary dict's values

In [ ]:
dict1 = {}
dict1.setdefault("Hello", None)
dict1.update({1:"1"})
print(dict1.items())
from datetime import datetime
thisdict =    {
  "type": "employee",
  "name": "John",
  "age": 41,
  "dept": "HR",
  1:"description1",
  2: "description2",
  "joiningdate":  datetime.now().strftime('%Y-%m-%d'),
  datetime.now(): "Date of Joining with key date in date time format",
  datetime.now().strftime('%Y-%m-%d'): "Date of Joining with key date in string format"
}
#the duplicate key is updated with new value John1
print(thisdict)
print(thisdict[1])
print(thisdict.get("name","Not Found"))


print(type(thisdict))

b = thisdict.copy
print(b)
print("fetches the value of the key {0}".format(thisdict.get("name")))
print("fetches the value of the key {0} if key not present returns empty dict".format(thisdict.get("name1",{})))
print("type obtained from gettigng key value dict".format(type(thisdict.get("name1",{}))))
print("items in dictionary {0}".format(thisdict.items()))
print("keys in dictionary {0}".format(thisdict.keys()))
thisdict.pop("age")# removing the element with key age
#thisdict.pop("age1")# removing the element with key age
print(thisdict)
print("###############")
print("keys in dictionary {0}".format(thisdict.keys()))
print("###############")
thisdict.popitem()# removes the arbitrary element
print("###############")
print("keys in dictionary {0}".format(thisdict.keys()))
print(thisdict)
thisdict.clear() # clear up all the items in the dictionary

In [ ]:
#Lets take the flowers dict for all the operations

In [ ]:
flowersdict = {'flower1': 'Rose', 'flower2': 'Shoeflower', 'flower3': 'Tulips', 'flower4': 'Daisy', 'flower5': 'Lotus'}
print(flowersdict)
#Clear operation 
flowersdict.clear()
print(flowersdict)
flowersdict = {'flower1': 'Rose', 'flower2': 'Shoeflower', 'flower3': 'Tulips', 'flower4': 'Daisy', 'flower5': 'Lotus'}
print(flowersdict)

In [ ]:
flowerlist2 =  flowersdict.copy()
print(flowerlist2)
flowersdict["flower1"] = "Red Rose"
print(flowerlist2)
print(flowersdict)

In [ ]:
#Get Operation
#Retriviengi the value with key index throws error if key is not present
a = flowersdict.get("flower2")
b = flowersdict.get("flower",{})
print("fetches the value of the key {0}".format(a))
print("fetches the value of the key {0} if key not present returns empty dict".format(b))
c = flowersdict["flower6"]
print("fetches the value of the key {0} if key not present returns empty dict".format(c))

In [ ]:

#create an empty dictionary
x = {}

#create a three items dictionary
x = {"one":1, "two":2, "three":3}

#access an element
x['two']

#get a list of all the keys
x.keys()

#get a list of all the values
x.values()

#add an entry
x["four"]=4

#change an entry
x["one"] = "uno"

#delete an entry
del x["four"]

#make a copy
y = x.copy()

#remove all items
x.clear()

#number of items
z = len(x)

#test if has key
z = x.has_key("one")

#looping over keys
for item in x.keys(): print item

#looping over values
for item in x.values(): print item

#using the if statement to get the values
if "one" in x:
    print x['one']

if "two" not in x:
    print "Two not found"

if "three" in x:
    del x['three']