In [2]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\python39\lib\site-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in c:\python39\lib\site-packages (from pandas) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python39\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\python39\lib\site-packages (from pandas) (1.19.4)
Requirement already satisfied: six>=1.5 in c:\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0.1; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [11]:
Connection = create_server_connection('localhost','root','root')
cursor = Connection.cursor()

MySQL Database connection successful

In [8]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [12]:
import datetime
insert_stmt = (
  "INSERT INTO employees (emp_no, first_name, last_name, hire_date) "
  "VALUES (%s, %s, %s, %s)"
)
data = (2, 'Jane', 'Doe', datetime.date(2012, 3, 23))
cursor.execute(insert_stmt, data)

select_stmt = "SELECT * FROM employees WHERE emp_no = %(emp_no)s"
cursor.execute(select_stmt, { 'emp_no': 2 })

ProgrammingError: 1046 (3D000): No database selected

In [16]:
from datetime import * 
data = [
  ('Jane', date(2005, 2, 12)),
  ('Joe', date(2006, 5, 23)),
  ('John', date(2010, 10, 3)),
]
stmt = "INSERT INTO employees (first_name, hire_date) VALUES (%s, %s)"
cursor.executemany(stmt, data)

ProgrammingError: 1046 (3D000): No database selected

In [17]:
cursor.execute("SELECT * FROM employees ORDER BY emp_no")
head_rows = cursor.fetchmany(size=2)
remaining_rows = cursor.fetchall()

ProgrammingError: 1046 (3D000): No database selected

In [18]:
# Using a while loop
cursor.execute("SELECT * FROM employees")
row = cursor.fetchone()
while row is not None:
  print(row)
  row = cursor.fetchone()

# Using the cursor as iterator
cursor.execute("SELECT * FROM employees")
for row in cursor:
  print(row)

ProgrammingError: 1046 (3D000): No database selected