## Python Print

<h6> Comments </h6>

In [ ]:
#multiline comment with '
'''
This is comment
Hello World
This is  multiline comments 
'''
#multiline comment with "
"""
This is comment
Hello World
This is  multiline comments"""
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Can be used for single comment

In [ ]:
# tag stands for comment in python

<h6> Print Statements </h6>

In [6]:
a = 4*5
print(a)
abc = 12
b = "abc"
print(b)
print("#############################")
print(123)
print("abc",123,4*5)
print("#############################")
c = print("Hello World")
print(c)
print(type(a))
print(type(b))
print(type(c))

20
abc
#############################
123
abc 123 20
#############################
Hello World
None
<class 'int'>
<class 'str'>
<class 'NoneType'>

In [7]:
a = "Hello World -1"
b = print(a)
print(b)

Hello World -1
None

prints the memory location of the object when printed

In [10]:
#class object():
#    pass
class humanbeing():
    
    def __init__(self):
        self.name = "not named"
        self.height =6
        self.weight = 60
        #print(self.height)
        #print("constructor initialized")
    
    def __str__(self):
        return "I am a human being object and my name is %s"%self.name
    
    def setheight(self, given_new_height):
        self.height = given_new_height
    
    def setname(self, new_name):
        self.name = new_name


a = humanbeing()
a.setheight(6.5)
a.setname("Karthick")
print(a)

print(a.height)
print(type(a))
b = humanbeing()
print(b)
print(b.setheight(6.3))
print(b.height)

I am a human being object and my name is Karthick
6.5
<class '__main__.humanbeing'>
I am a human being object and my name is not named
None
6.3

In [ ]:
print((1,2))

####  pass multiple strings

In [11]:
print("Hello","World",1,2.0)

Hello World 1 2.0

In [18]:
import datetime

In [63]:
a = datetime.datetime.now()
print(a.year, a.month, a.day, a.hour, a.minute, a.second)
print(a)
print(type(a))

print("####################################")

b = datetime.date.today()
print(b)
print(b.year, b.month, b.day)
#print(type(b))

2022 3 20 16 47 25
2022-03-20 16:47:25.784205
<class 'datetime.datetime'>
####################################
2022-03-20
2022 3 20

In [65]:
print("Hello","World","Welcome","To","Python", 100, datetime.datetime.now())

Hello World Welcome To Python 100 2022-03-20 16:48:14.708604

In [72]:
print("Hello","World","Welcome","To"," Python", sep = " - ")

Hello - World - Welcome - To -  Python

In [71]:
print("Hello","World","Welcome","To","Python",  2, end ="wearegood",sep = "$--$")

Hello$--$World$--$Welcome$--$To$--$Python$--$2wearegood

In [73]:
print("Hello","World", sep = "# #", end ="!")

Hello# #World!

### No values to print statement, prints out a line

In [74]:
print()
print("###############")
print()
print()
print("###############")
print()
print()
print()
print()
print("###############")

###############


###############




###############

%s - string
%d - integers
%f - float or decimal values

# C-Style Formatters

In [79]:
a ="Nithiya"
b = 23
c =82.345678
d=123
print("I am  %s, My age is %d, and I scored  %.1f percent in board exam" %(a,b,c))
print("I am  %s,"%a, "My age is %d,"%b, " and I scored  %.2f percent in board exam"%c, sep ="-")
print("I am  %s" %a)

TypeError: not all arguments converted during string formatting

### Python Format Condition

In [83]:
a ="Karthi"
b =12
c =82.345
d =4
print("I am {} My age is {}, and I scored {} percent in my board exam".format(a,b,c,d))

print("I am ",  a ," My age is {}".format(b), "and I scored {} percent in my board exam".format(c))

I am Karthi My age is 12, and I scored 82.345 percent in my board exam
I am  Karthi  My age is 12 and I scored 82.345 percent in my board exam

In [85]:
a ="Akshaya"
b =12
c =82.345
print("I scored {} percent in board exam, I am  {}, My age is {}".format(a,b,c))
print("I scored {} percent in board exam, I am  {}, My age is {}".format(c,a,b))
print("I scored {2} percent in board exam, I am  {0}, My age is {1}".format(a,b,c))

I scored Akshaya percent in board exam, I am  12, My age is 82.345
I scored 82.345 percent in board exam, I am  Akshaya, My age is 12
I scored 82.345 percent in board exam, I am  Akshaya, My age is 12

In [86]:
a ="Raj"
b =12
c =82.345
d =2
print("I scored {} percent in board exam, I am  {}, My age is {}".format("Vinoth",b,c))
print("I scored {2} percent in board exam, I am  {0}, My age is {1}".format("Priya",23,c))

I scored Vinoth percent in board exam, I am  12, My age is 82.345
I scored 82.345 percent in board exam, I am  Priya, My age is 23

In [87]:
a ="Raj"
b =12
c =82.345
print(f"I scored {c} percent in board exam, I am  {a}, My age is {b}")
print(f"I scored {c} percent in board exam,",f" I am  {a}, My age is {b}",sep ="$--$",end="!")

I scored 82.345 percent in board exam, I am  Raj, My age is 12
I scored 82.345 percent in board exam,$--$ I am  Raj, My age is 12!

In [89]:
a ="Raj"
b =12
c =82.345
d = f"""
Hello World from {a} 
d = """
Hello World from {} 
""".format(a)
e = "Hello World from {}".format(a)
print(d)
print(f"I scored {c} percent in board exam, I am  {a}, My age is {b}")
print(f"I scored {c} percent in board exam,",f" I am  {a}, My age is {b}",sep = "$--$",end="!")

Hello World from Raj

I scored 82.345 percent in board exam, I am  Raj, My age is 12
I scored 82.345 percent in board exam,$--$ I am  Raj, My age is 12!