### Data Types

**Numbers**<br>
**strings**<br>
**Boolean**<br>
**List**<br>
**Tuple**<br>
**Set** <br>
**Dictionary**<br>

**Numbers**
<br>
**Integers**
<br>
a=1
<br>
    
**Float**
<br>
pi=3.14
<br>

**Complex**
<br>
a=1+2j
<br>

**String Data Types**

Single Line String
"Hello world"

Multiline Strings
"""Hello World
<br>
Welcome to Python"""
<br>

**List**
<br>
List is sequence of items of different type of data which are mutable.<br>
mutable-Value can be changed at anytime by indexing. 
Allows Duplicates

<br>
ways of initiating

$a = [1,2]$
<br>
$a= list(1,2)$
<br>

**Tuple**
It is also having different type of data.
It's immutable, Value can't be changed with indexing.
Allows Duplicates
<br> 
ways of initiating

$a =(1,2)$
<br>
$a = tuple(1,2)$ 
<br>
$a =1,2$
<br>

**Set** 
<br>
Ordered Collection of unique data of similar type.
<br>
ways of initiating
<br>
a = {1,2}
<br>
$a = set(1,2)$
<br>

**Dict**
Dictionary is collection of key, value pairs
<br> 
ways of initiating
<br>
a = {1:"1","2":2}
<br>
a = {}
<br>
a = dict({1:"2","2":4})

In [ ]:
#sys.__dict__
#dir(sys)
sys.path

In [ ]:
import sys
a=1
sys.getsizeof(a)
b=1.2
sys.getsizeof(b)
c = 2+3j
sys.getsizeof(c)
d = "hello world "
sys.getsizeof(d)

### Type conversion in python

In [ ]:
a =2.12345 
print(a, type(a))
print("##########")
b = int(a)
print(b,type(b))
print("##########")
c= str(a)
print(c, type(c))
print("##########")
c1 = None
print(c1, type(c1))
print("##########")
d= bool(c)
print(d, type(d))
print("##########")
d1 = bool(c1)
print(d1, type(d1))
print("##########")
e = "" # Nothing or null or No value
print(e, type(e))
f = bool(e)
print(f, type(f))

### ASCIIChart

<img src="" width=800px height=800px></img>

In [ ]:
a = 27
b = oct(a)
print(b)
c = hex(a)
print(c)
#b = int("17",16)
#print(b)
hex(10)

**Numbers Data Type **

In [ ]:
a= 5
b= 2.0
c= 1.1+2j
d = 1+1j
e ="1"
f="hello"
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(a+b)
print(b+c)
print(a+b+c)
print(a+b+c+d)
print(d+ int(e)) # arithmetic operation is not possible between different operand types int and str
#int(e)
d+e

**String**

**String Can be multiline or single line** <br>
**Single Line String wrapped in single quotes/double quotes**<br>
a = "Hello, welcome to python"<br>
b = 'Hello, welcome to python'<br>
    <b>
    <i>
    <u>Multiline String</u>
    </i>
    </b>
    <br>
    <br>
    <br>
Multi_a = """This is a multiline string <br>
            which contains multiple lines of data<br>
            It has to be enclosed in three sets of single/double quotes"""<br>
            <br>
            <br>
            <br>
Multi_a = '''This is a multiline string <br>
            which contains multiple lines of data<br>
            It has to be enclosed in three sets of single/double quotes'''<br>
#Escape Sequence
escape_doublequote = "Hello\", welcome to python"
print(escape_doublequote)

In [ ]:
#Single Line String
print("#########################Single Line String########################")

a = 'Hello welcome " to python'
print(type(a)) 
print(a)
b = "Hello ', welcome to python"
print(b)
print("######################### Escape Sequences########################")

print("Double quote Escaped by Escape Sequence \" ")
print("Escape Sequence \\")

a = "Hello \", welcome \n to python"
print(a)
a = "Hello \, welcome to python_1"
print(a)
b = 'Hello \', welcome to python'
print(b)
print("#########################Multiline Strings########################")
#Multiline String
Multi_a = """This is a multiline string 
            which contains multiple lines of data  \n 
            It has to be enclosed in three sets of \""" single/double quotes"""
## Below line is a comment
'''comment line 1 
    comment line 2
comment line 3'''
#anything here is a comment
Multi_b = '''This is a multil'ine string 
which contains mult'iple lines of data
            It has to be enclose'd in """ three sets of single/double quotes'''
print("#########################Multiline Strings########################")
print(Multi_a)
print("#####################")
print(Multi_b)
print("#####################")
print(Multi_b.replace("\n","#"))

<h3>Methods in String Data Type</h3>
<ol type = "A">
    <li>Capitalize</li>
    <li>Casefold</li>
    <li>Center</li>
    <li>Count</li>
    <li>Encode</li>
    <li>Endswith</li>
    <li>Expandtabs</li>
    <li>Find</li>
    <li>Split</li>
    <li>Rsplit</li>
    <li>Splitlines</li>
    <li>Title</li>
    <li>Index</li>
    <li>Isalnum</li>
    <li>Isalpha</li>
    <li>Isdecimal</li>
    <li>Rpartition</li>
    <li>Substring</li> 
    <li>Lower</li>
    <li>Upper</li>
    <li>Strip</li>
    <li>RStrip</li>
    <li>LStrip</li>
</ol>

[Refer ASCII Chart](#ASCIIChart)

In [ ]:
print(ord("ü"))
print(ord("a"))
print(ord("Å"))
print(ord("µ"))
print(ord("Ø"))
print(ord("A"))
print(ord("Z"))
print(ord("a"))
print(ord("z"))
print(ord("À"))

print(chr(91))
print(chr(92))
print(chr(93))
print(chr(94))
print(chr(95))
print(chr(96))

In [ ]:
for x in range(0,500):
    print("     ", chr(x),"     ")

In [ ]:
# Capitalize - capitalizes the start of the string 
a ="welcome To python"
b = a.capitalize()
print(b)

In [ ]:
# case fold -  Converts all the characters to lower
#c = "123Hello"
a = "HeLlO worLd"
b = a.casefold()

print(b)
print(b.casefold())

In [ ]:
#Lower - Converts all the characters to lower case
a = "THis is Python WorlD"
b =  a.lower()
print(b)
print(b.upper())

In [ ]:
#Upper - Converts all the characters to Upper case
a = "THis is Python WorlD"
b =  a.upper()
print(b)
print(a.islower())
print(a.isupper())
print(b.islower())
print(b.isupper())

In [ ]:
#Title - Converts string into camel case
a = "THis is PyThOn WorlD"
b =  a.title()
print(a.istitle())
print(b)
print(b.istitle())

In [ ]:
#Center
mytext = "India"
print(len(mytext))
AB =20
print((mytext))
print("############")
centermytext = mytext.center(100)
print(centermytext)
centermytext = mytext.center(AB,"*")
print(centermytext)
centermytext = mytext.center(11,"$")
print(centermytext)
mytext = "Russia"
centermytext = mytext.center(20)
print(centermytext)
centermytext = mytext.center(20,"$")
print(centermytext)
centermytext = mytext.center(11,"#")
print(centermytext)

In [ ]:
## Replace
a = "Hellolllll World"
a = a.replace("World","$")
print(a)
a = a.replace("l","$")
print(a)
a = a.replace("Hi","Hello")
print(a)
a = a.replace("o","")
print(a)
a = a.replace("$","")
print(a)
a = a.replace(" ","y")
print(a)

In [ ]:
#Find 
mytext  = 'python is a best programming language'
result =   mytext.find("hon")
print(result)
result = mytext.find("program")
print(result)
result = mytext.find(" ")
print(result)
result = mytext.find("a")
print(result)
print("Find from right")
result = mytext.rfind("a")
print(result)
## when the data is not available it will result to -1 in find method
result = mytext.find('India')
print(result)
if(mytext.find('India')>0):
    print("value is present")
else: 
    print('value not present')

In [ ]:
#Index - Check the occurence of a string in a string and returns its index position
mytext  = "python is a best language"
result =   mytext.index("hon")
print(result)
result = mytext.index("language")
print(result)
result = mytext.index("a")
print(result) 
result = mytext.rindex("a")
print(result) 
result = mytext.index("abc")
print(result)

In [ ]:
def findallpythonpositions(searchstring,searchtext):
    intialfindpos = 0
    for x in range(searchstring.count(searchtext)):
        startindex = searchstring.find(searchtext)
        print(startindex + intialfindpos)
        endindex = searchstring.find(searchtext) + len(searchtext)
        intialfindpos = intialfindpos + endindex
        searchstring = searchstring[endindex:]
        #print(searchstring)                                      

mytext  = "python is a best pythonic language created by pythoners , python is easy to learn"
searchtext = "python"                                        
findallpythonpositions(mytext,searchtext)

In [ ]:
searchablestring = input("Enter the string where you want to search  :")
searchstring = input("Enter the string which you want to search   :")
findallpythonpositions(searchablestring,searchstring)

In [ ]:
#Count 
infotext  = "Welcome to my World, The World is too good to live"
print(infotext.count("World"))
result = infotext.count("World")
print("all occurence count %d %s" %(result,"World"))
result = infotext.count("World",20)
print("occurence between 20th index and end of string count is %d" %result)
result = infotext.count("World",14,32)
print("occurence between 14th index and 32nd, index count is %d" %result)
result = infotext.count(infotext)
print("occurence of entire string {0}".format(result))
#Note: 
#Calculate the count of all words in the given string 
[print( " \n "+ x + " - Count - {}".format(infotext.count(x))) for x in infotext.split()]
None

In [ ]:
a ="welcome to India"
print(len(a))
#print(a.rindex('a'))
print(a[2:15:4])
print(a[-10:-3:-2])
print(a[-10:-3:2])
print(a[::-3])
#[start :end :step ]
#start - > 0
#end -> end of the string(len)
#step -> 1

In [ ]:
#Substring
#: stands for sequence
#[] stands for the position holders
#value before the : is the start sequence, after the colon is the end sequence
# start: end: step
TestString = "Hello Python" 
print(TestString[::])
print(TestString[6])
print("#################################")

print(TestString[0:5])
print(TestString[:6])
print(TestString[6:15])
print(TestString[5:])

print(TestString[-5:-1])

print("#### start index is greater than end ####")
print(TestString[-1:-5])

#print(TestString[::-1])
print("##################################")
print("Hello Python")
print(TestString[::-1])
print("##################################")
#print(TestString[-3:-5])
print(TestString[-3:-5:2])#steps selects within the range of start and end index 
print(TestString[:])
print("###############Indexing with step##################")
print(TestString[:-1:2])
print("###################################")
print(TestString[0:-1:3])
print("#Reverse a string")
print(TestString[::1])
print(TestString[::2])
print("#####################################")
print(TestString[::3])
print(TestString[::-1])
print(TestString[::-2])
print(TestString[::0])

In [ ]:
#Alpha, Alphanumeric and Decimal Checking
myalpha ="abcd" #contains characters [a-zA-Z]
myalphanumeric = "abcdef123" #contains characters [a-zA-Z0-9]
mynotalphanumeric= "&abcdef123" # Not fitting all three cases (Contain a symbol)
mydecimal ="123"
#contains characters [0-9]

print("myalpa string is alpha - {}".format(myalpha.isalpha()))
print("myalphanumeric string is alpha - {}".format(myalphanumeric.isalpha()))
print("mynotalphanumeric string is alpha - {}".format(mynotalphanumeric.isalpha()))
print("mydecimal string is alpha - {}".format(mydecimal.isalpha()))
print("\n")
print("myalpa string is alphanumeric - {}".format(myalpha.isalnum()))
print("myalphanumeric string is alphanumeric - {}".format(myalphanumeric.isalnum()))
print("mynotalphanumeric string is alphanumeric - {}".format(mynotalphanumeric.isalnum()))
print("mydecimal string is alphanumeric - {}".format(mydecimal.isalnum()))
print("\n")
print("myalpa string is decimal - {}".format(myalpha.isdecimal()))
print("myalphanumeric string is decimal - {}".format(myalphanumeric.isdecimal()))
print("mynotalphanumeric string is decimal - {}".format(mynotalphanumeric.isdecimal()))
print("mydecimal string is decimal - {}".format(mydecimal.isdecimal()))

In [ ]:
#Startswith, #Endswith

infotext =  "Welcome to Python"

print("######################")
print(infotext.startswith("Welcome"))
print("######################")
print(infotext[5:])
print(infotext.startswith("Welcome",5))
print("######################")
print(infotext[0:8])
print(infotext.startswith("Welcome",0,8))
print("######################")
print("################-EndsWith-######################")
print(infotext.endswith("Python"))
print("######################")
print(infotext[0:7])
print(infotext.endswith("Welcome",0,7)) 
print("######################")
print(infotext[2:7])
print(infotext.endswith("Welcome",2,7))
print("######################")

infotext1 =  "Welcome to Python "
print(infotext1[0:8])
print(infotext1.startswith("Welcome",0,8))
print(infotext1.endswith("Welcome",0,8))

In [ ]:
# Expand Tabs 
#===============================================================================
#mytabbedstring = "H    e    l    l    o"
print("#################################")
mytabbedstring = "H\te\tl\tl\to"
print(mytabbedstring)
print(mytabbedstring.expandtabs(0))
print("##############")
print(mytabbedstring.expandtabs(1))
print("############## -2 ")
print(mytabbedstring.expandtabs(2))
print("############## -4 ")
print(mytabbedstring.expandtabs(4))
print(mytabbedstring.expandtabs(tabsize = 5))
print(mytabbedstring.expandtabs(6))
print(mytabbedstring.expandtabs(8))
print(mytabbedstring.expandtabs(20))
print("\n")

In [ ]:
#Split
Fruits = "apple,orange,# grapes, guava, pineapple"
#Split("characterseparator",max) max  -maximum no of times to split
AllFruits = Fruits.split()
print(AllFruits)
print("##############################")
AllFruits = Fruits.split(",")
print(AllFruits)
print("##############################")
ThreeFruits = Fruits.split(",",2)
print(ThreeFruits)

In [ ]:
print(' '.join(ThreeFruits))
print(' and '.join(AllFruits))

In [ ]:
#Split Lines 
multilinestring = """India is a vast South Asian country with diverse terrain – 
from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.
In the north, Mughal Empire landmarks include Delhi’s Red Fort complex
and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum. 
Pilgrims bathe in the Ganges in Varanasi,and Rishikesh is a yoga centre and base for Himalayan trekking."""

Y  = multilinestring.splitlines(True)# True -> preseve new line character
print(Y)
print("#############################")
Z = multilinestring.splitlines(False)# True -> preseve new line character
print(Z)
print("#############################")
for x in Y:
    print(x)
print("#############################")
for x in Z:
    print(x)

In [ ]:
#Partition - Splits the string as  before match, match and after match, returns it as a tuple
infotext  = "this is my world, my people will live here 123"
result = infotext.partition("my")
print(result)
print("######################")
result = infotext.partition("123")
print(result)
print("######################")
infotext  = "Welcome to my World, The World is too good to live"
result = infotext.partition("ttt")
print(result)
print("######################")
print(infotext.split("World"))
print("######################")

In [ ]:
#Strip Operations
#Strip - Strips characters at both end of the string
#Rstrip - Strips characters at Right end of the string
#Lstrip - Strips characters at left end of the string
#input string a with whitespaces at corners
a  = " Ode on a Grecian Urts "
#strip
b = a.strip()
print(b)
#lstrip
b = a.lstrip()
print(b)
#Rstrip
b = a.rstrip()
print(b)
print("################")
#Stripping with characters
a  = ",,,,,????... Ode on a Grecian Urtsssss....,,,"
#strip
b = a.strip("., ")
print(b)
#lstrip
b = a.lstrip("?, ")#stops stripping after encountering a different character ? is not a stripping character here, hence stopped.
print(b)
#Rstrip
b = a.rstrip(",.s ")
print(b)

In [ ]:
x="hello.......... world1111 India,,,,? is a!!! largest.... economic111 country222"
#y =x.replace("l","")
y = x.split()
#print(y)
result = []
for text in y: 
    result.append(text.strip("0123456789.,!? "))
print(result)
output = " ".join(result)
print(output)

In [ ]:
#Encoding 
# String Encode Function 

# encode #execute this in command prompt, it depends upon the ide which supports the special character
myencodedstring  = "I åm leărninåg Ã PythŠoÂn"
print(myencodedstring.encode(encoding = 'ascii', errors = 'backslashreplace'))
print(myencodedstring.encode(encoding = 'ascii', errors = 'ignore'))
print(myencodedstring.encode(encoding = 'ascii', errors = 'namereplace'))
#print(myencodedstring.encode(encoding = 'ascii', errors = 'strict'))
print(myencodedstring.encode(encoding = 'ascii', errors = 'replace'))
print(myencodedstring.encode(encoding = 'ascii', errors = 'xmlcharrefreplace'))
print("\n")
print(myencodedstring.encode(encoding = 'cp437', errors = 'backslashreplace'))
print(myencodedstring.encode(encoding = 'cp437', errors = 'ignore'))
print(myencodedstring.encode(encoding = 'cp437', errors = 'namereplace'))

In [ ]:
a = "hello world"
a[1] = 'y'

# Lists

List is a mutable, unordered collection of non unique items

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [31]:

# Assign a list to an variable named my_list
list1 = []
list2 = list()
my_list = [1,2.0,3+4j,False, "Hello World"]
my_list_2 = [1,2.0,3+4j,False, "Hello World",[True, False, True, 123,"one two three"],{1,2,3},(1,2,3),{1:2,2:3,3:4}]
print(type(list1))
print(type(list2))
print(type(my_list))
print("##########################")
for item in my_list:
    print(type(item))
print("##########################")
for item in my_list_2:
    print(type(item))

<class 'list'>
<class 'list'>
<class 'list'>
##########################
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
##########################
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'dict'>

In [32]:
my_list1 = [5.0,4.0,5.0,6]
print(my_list1)
my_list1[0] = 2
print(my_list1)
my_list2 = [4,5.0+3j,"abc"]

[5.0, 4.0, 5.0, 6]
[2, 4.0, 5.0, 6]

In [33]:
print(my_list1)
print(my_list2)

[2, 4.0, 5.0, 6]
[4, (5+3j), 'abc']

In [34]:
list_combined =my_list1+my_list2 
print(list_combined)

[2, 4.0, 5.0, 6, 4, (5+3j), 'abc']

In [35]:
#Combining lists 
my_list1 =my_list1+my_list2 + [7.0,8.0,9+2j]
print(my_list1)

[2, 4.0, 5.0, 6, 4, (5+3j), 'abc', 7.0, 8.0, (9+2j)]

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [36]:
#just take the 1st element at the list
print(list_combined)
list_combined[0]

[2, 4.0, 5.0, 6, 4, (5+3j), 'abc']

2

In [37]:
#retrive the 1st element until third
list_combined[0:3]

[2, 4.0, 5.0]

In [38]:
list_combined[0::4]

[2, 4]

In [39]:
#retrive the 2nd element until the end of the list
list_combined[2:]

[5.0, 6, 4, (5+3j), 'abc']

In [40]:
#retrive the 2nd element until the end of the list
list_combined[-5:-2:]

[5.0, 6, 4]

**We can also use + to concatenate lists, just like we did for strings.**

In [41]:
add_tolist = list_combined + ["def","ghi"]
list_direct = [4.0, 5.0, 6, 4, (5+3j), 'abc'] + ['def', 'ghi']
print(add_tolist)
print(list_direct)

[2, 4.0, 5.0, 6, 4, (5+3j), 'abc', 'def', 'ghi']
[4.0, 5.0, 6, 4, (5+3j), 'abc', 'def', 'ghi']

** Duplicating list **

In [42]:
duplicated_list = add_tolist * 3
print(duplicated_list)
print("#########################")
duplicated_list = add_tolist[0:4] * 3
print(duplicated_list)

[2, 4.0, 5.0, 6, 4, (5+3j), 'abc', 'def', 'ghi', 2, 4.0, 5.0, 6, 4, (5+3j), 'abc', 'def', 'ghi', 2, 4.0, 5.0, 6, 4, (5+3j), 'abc', 'def', 'ghi']
#########################
[2, 4.0, 5.0, 6, 2, 4.0, 5.0, 6, 2, 4.0, 5.0, 6]

<h5> Lists Methods <h5>
<ol type = "A">
    <li>Append</li>
    <li>Clear</li>
    <li>Count</li> 
    <li>Extend</li>
    <li>Index</li>
    <li>Insert</li>
    <li>Pop</li>
    <li>Remove</li>
    <li>Reverse</li>
    <li>Sort</li>
</ol>

In [51]:
Cities =["Chennai","Bangalore", "Delhi","Kolkatta"]
#Append

print("Cities  - {}".format(Cities))
#print("Cities   ",Cities, sep="-")

#add a new item to the list
#Cities.append(["Hyderabad","Thane"])
#print("Cities  - {} ".format(Cities))
Cities.append(["Mumbai"])
print("Cities  - {} ".format(Cities))
Cities.append("Mumbai","Ernakulam")

Cities  - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta']
Cities  - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', ['Mumbai']]

TypeError: list.append() takes exactly one argument (2 given)

In [52]:
#Clear 
#Removes all the items from the list
Cities.clear()
print(Cities)

[]

In [53]:
#Add the Items Back
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad"]
print(Cities)
#Count -  Used to find the count of an item
count_givencity = Cities.count("Chennai")
print(count_givencity)
Cities.append("Chennai")
print(Cities)
count_givencity = Cities.count("Chennai")

print("Count of City after adding again {}".format(count_givencity))

['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']
1
['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad', 'Chennai']
Count of City after adding again 2

In [54]:
#extend
# To extend the items of a list with another list of items, lets add another city list to existing one
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad"]
NewCities = ["Mumbai","Pune","Agra","Kanpur","Noida","Visakhapatnam","Chennai"]
print("Cities - {}".format(Cities))
print("New Cities - {}".format( NewCities))
#Cities.append(NewCities)
#print(Cities)

resultCities=Cities.extend(NewCities)
#print(Cities)
print("Cities after Extend  {}".format(Cities))

Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']
New Cities - ['Mumbai', 'Pune', 'Agra', 'Kanpur', 'Noida', 'Visakhapatnam', 'Chennai']
Cities after Extend  ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad', 'Mumbai', 'Pune', 'Agra', 'Kanpur', 'Noida', 'Visakhapatnam', 'Chennai']

In [56]:
#index
GetIndex = Cities.index("Chennai")
print(GetIndex)
GetIndex = Cities.index("Noida")
print(GetIndex)

0
9

In [62]:
#Insert 
#Add an item to a particular postion/index
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad"]
print("Cities - {}".format(Cities))
Cities.insert(2,"Mumbai")
print("Cities - {}".format(Cities))
Cities.insert(-2,"Pune")
#Cities.insert("Pune")
print("Cities - {}".format(Cities))
#Cities[5]

Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']
Cities - ['Chennai', 'Bangalore', 'Mumbai', 'Delhi', 'Kolkatta', 'Hyderabad']
Cities - ['Chennai', 'Bangalore', 'Mumbai', 'Delhi', 'Pune', 'Kolkatta', 'Hyderabad']

In [60]:
#Pop Operation - specify the position
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad"]
print("Cities - {}".format(Cities))
Cities.pop()
print("After Pop Operation  , Cities - {}".format(Cities))
Cities.pop(2)
print("After Pop Operation  , Cities - {}".format(Cities))
Cities.pop(1)
print("After Pop Operation  , Cities - {}".format(Cities))
Cities.pop(0) #For insert it's okay to give out of index positions, for pop within range has to be given
print("After Pop Operation  , Cities - {}".format(Cities))

Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']
After Pop Operation  , Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta']
After Pop Operation  , Cities - ['Chennai', 'Bangalore', 'Kolkatta']
After Pop Operation  , Cities - ['Chennai', 'Kolkatta']
After Pop Operation  , Cities - ['Kolkatta']

In [68]:
#Remove
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad", "Kolkatta"]
print("Cities - {}".format(Cities))
Cities.remove("Kolkatta")
print("Cities - {}".format(Cities))
Cities.remove("Kolkatta")
print("Cities - {}".format(Cities))
#print("After remove Operation  , Cities - {}".format(Cities))
if(Cities.count("Kolkatta")>0):
    Cities.pop(Cities.index("Kolkatta"))
print("Cities - {}".format(Cities))
#Cities.pop(Cities.index("Kolkatta"))# Throws error when value not available
#print("Cities - {}".format(Cities))

Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad', 'Kolkatta']
Cities - ['Chennai', 'Bangalore', 'Delhi', 'Hyderabad', 'Kolkatta']
Cities - ['Chennai', 'Bangalore', 'Delhi', 'Hyderabad']
Cities - ['Chennai', 'Bangalore', 'Delhi', 'Hyderabad']

In [77]:
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad", "Kolkatta"]
Cities.reverse()
Cities.remove("Kolkatta")
Cities.reverse()
print(Cities)

['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']

In [83]:
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad", "Kolkatta"]
NewCities = []
Test_Item = "Kolkatta"
matched = False
for x in range(len(Cities)-1,-1,-1):
    if(Cities[x]==Test_Item and not matched):
        matched = True
    else:
        NewCities.append(Cities[x])
print(NewCities)

['Hyderabad', 'Kolkatta', 'Delhi', 'Bangalore', 'Chennai']

In [95]:
Cities =["Chennai", "Kolkatta", "Bangalore", "Kolkatta","Delhi","Kolkatta","Hyderabad", "Kolkatta"]
NewCities = []
Total_Matched = 0
Number_Of_Times = 3
Test_Item = "Kolkatta"
matched = False
for x in range(len(Cities)-1,-1,-1):
    if(Cities[x]==Test_Item and Total_Matched<Number_Of_Times):
        Total_Matched+=1
    else:
        NewCities.append(Cities[x])
print(NewCities)

['Hyderabad', 'Delhi', 'Bangalore', 'Kolkatta', 'Chennai']

In [97]:
Test_Item = "Kolkatta"
Total_Matched = 0
Number_Of_Times = 3
Cities =["Chennai", "Kolkatta", "Bangalore", "Kolkatta","Delhi","Kolkatta","Hyderabad", "Kolkatta"]
while Cities.count(Test_Item) and Total_Matched<Number_Of_Times:
    Total_Matched +=1
    Cities.remove(Test_Item)
print(Cities)

['Chennai', 'Bangalore', 'Delhi', 'Hyderabad', 'Kolkatta']

In [101]:
Test_Item = "Kolkatta"
Total_Matched = 0
Number_Of_Times = 6
Cities =["Chennai", "Kolkatta", "Bangalore", "Kolkatta","Delhi","Kolkatta","Hyderabad", "Kolkatta"]
while Total_Matched<Number_Of_Times:
    Total_Matched +=1
    Cities.remove(Test_Item)
print(Cities)

ValueError: list.remove(x): x not in list

In [69]:
#Reverse
#Reverses the list
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad"]
print("Cities - {}".format(Cities))
print("########## First Reverse using reverse method ()#################")
Cities.reverse()
print(Cities)
print("########## Second Reverse using indexing ################")

Cities_1 = Cities[-1:-3:-1]
print(Cities_1)
#Re Reverse
Cities_1 = Cities[::-1]
print(Cities_1)

Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']
########## First Reverse using reverse method ()#################
['Hyderabad', 'Kolkatta', 'Delhi', 'Bangalore', 'Chennai']
########## Second Reverse using indexing ################
['Chennai', 'Bangalore']
['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad']

In [125]:
#Sort
Cities =["Chennai","Bangalore", "Delhi","Kolkatta","Hyderabad","Mumbai","Pune","agra","Guwhathi","Kanpur","Noida","Visakhapatnam","Coimbatore"]
#Cities.sort(False, key = None)
def overlength(e):
    return len(e)

def overacharcount(e):
    return e.count("a")

def mem_location(e):
    return hex(id(e))


print("############ Input Cities ###############")
print("Cities - {}".format(Cities))
print("########### sort()################")
Cities.sort()
print(Cities)
print("#############sort() reverse True##############")
Cities.sort(reverse = True)
print(Cities)
print("##############sort reverse = False key=overlength #############")
Cities.sort(reverse = False, key = overlength)
print("Cities - In asc order of Length  - {}".format(Cities))
print("##############sort reverse = True key = overlength #############")
Cities.sort(reverse = True, key = overlength)
print("Cities - In desc order of Length - {}".format(Cities))
print("############### reverse = False, key = overacharcount ############")
Cities.sort(reverse = False, key = overacharcount)
print("Cities - In asc order of character 'a' count - {}".format(Cities))
print("##############reverse = True, key = overacharcount#############")
Cities.sort(reverse = True, key = overacharcount)
print("Cities - In desc order of character 'a' count - {}".format(Cities))
print("###########################")

############ Input Cities ###############
Cities - ['Chennai', 'Bangalore', 'Delhi', 'Kolkatta', 'Hyderabad', 'Mumbai', 'Pune', 'agra', 'Guwhathi', 'Kanpur', 'Noida', 'Visakhapatnam', 'Coimbatore']
########### sort()################
['Bangalore', 'Chennai', 'Coimbatore', 'Delhi', 'Guwhathi', 'Hyderabad', 'Kanpur', 'Kolkatta', 'Mumbai', 'Noida', 'Pune', 'Visakhapatnam', 'agra']
#############sort() reverse True##############
['agra', 'Visakhapatnam', 'Pune', 'Noida', 'Mumbai', 'Kolkatta', 'Kanpur', 'Hyderabad', 'Guwhathi', 'Delhi', 'Coimbatore', 'Chennai', 'Bangalore']
##############sort reverse = False key=overlength #############
Cities - In asc order of Length  - ['agra', 'Pune', 'Noida', 'Delhi', 'Mumbai', 'Kanpur', 'Chennai', 'Kolkatta', 'Guwhathi', 'Hyderabad', 'Bangalore', 'Coimbatore', 'Visakhapatnam']
##############sort reverse = True key = overlength #############
Cities - In desc order of Length - ['Visakhapatnam', 'Coimbatore', 'Hyderabad', 'Bangalore', 'Kolkatta', 'Guwhathi', 'Chennai', 'Mumbai', 'Kanpur', 'Noida', 'Delhi', 'agra', 'Pune']
############### reverse = False, key = overacharcount ############
Cities - In asc order of character 'a' count - ['Delhi', 'Pune', 'Coimbatore', 'Guwhathi', 'Chennai', 'Mumbai', 'Kanpur', 'Noida', 'Hyderabad', 'Bangalore', 'Kolkatta', 'agra', 'Visakhapatnam']
##############reverse = True, key = overacharcount#############
Cities - In desc order of character 'a' count - ['Visakhapatnam', 'Hyderabad', 'Bangalore', 'Kolkatta', 'agra', 'Coimbatore', 'Guwhathi', 'Chennai', 'Mumbai', 'Kanpur', 'Noida', 'Delhi', 'Pune']
###########################

In [123]:
for item in Cities:
    print(item, round(id(item)/1000000,3))

Visakhapatnam 2467605.563
Hyderabad 2467568.907
Bangalore 2467568.907
Kolkatta 2467568.863
agra 2467605.564
Coimbatore 2467605.562
Guwhathi 2467605.564
Chennai 2467567.091
Mumbai 2467604.53
Kanpur 2467605.564
Noida 2467568.067
Delhi 2467568.907
Pune 2467605.564

In [129]:
print("############### reverse = False, key = mem_location ############")
Cities.sort(reverse = False, key = mem_location)
print("Cities - In desc order of mem location - {}".format(Cities))
for item in Cities:
    print(item, id(item))
print("##############reverse = True, key = mem_location #############")
Cities.sort(reverse = True, key = mem_location)
print("Cities - In asc order of mem location - {}".format(Cities))
print("###########################")
for item in Cities:
    print(item, id(item))

############### reverse = False, key = mem_location ############
Cities - In desc order of mem location - ['Chennai', 'Noida', 'Kolkatta', 'Delhi', 'Bangalore', 'Hyderabad', 'Mumbai', 'Coimbatore', 'Visakhapatnam', 'Kanpur', 'Guwhathi', 'Pune', 'agra']
Chennai 2467567091184
Noida 2467568067376
Kolkatta 2467568862960
Delhi 2467568906736
Bangalore 2467568906864
Hyderabad 2467568907184
Mumbai 2467604529904
Coimbatore 2467605562352
Visakhapatnam 2467605563120
Kanpur 2467605563568
Guwhathi 2467605563632
Pune 2467605564080
agra 2467605564464
##############reverse = True, key = mem_location #############
Cities - In asc order of mem location - ['agra', 'Pune', 'Guwhathi', 'Kanpur', 'Visakhapatnam', 'Coimbatore', 'Mumbai', 'Hyderabad', 'Bangalore', 'Delhi', 'Kolkatta', 'Noida', 'Chennai']
###########################
agra 2467605564464
Pune 2467605564080
Guwhathi 2467605563632
Kanpur 2467605563568
Visakhapatnam 2467605563120
Coimbatore 2467605562352
Mumbai 2467604529904
Hyderabad 2467568907184
Bangalore 2467568906864
Delhi 2467568906736
Kolkatta 2467568862960
Noida 2467568067376
Chennai 2467567091184

### Tuple 
Tuple is a immutable, unordered collection of non unique items 
<br>

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [135]:
# Create a tuple

t = (1,2,3) 
t = (5,2,3,5) 
print(t)
r = 1
u = 1.0+2j, 3.0+3j,"a","bb" #mixed type of objects
v = (1,1.0,2.0+3.0j,"a",["aa","bb"],(1.0,2.0,3.0),{1,2,3},{"a":1})#mixed type of objects with parenthesis enclosure
x = 1,1.0,2.0+3.0j,"a",["aa","bb"],(1.0,2.0,3.0),{1,2,3},{"a":1}#mixed type of objects with parenthesis enclosure
w = tuple()
y = ()
print(type(t))
print(type(r))
print(type(u))
print(type(v))
print(type(x))
print(type(w))
print(type(y))

(5, 2, 3, 5)
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [136]:
print(v)
print("################################")
for item in v: 
    print(item, type(item))

(1, 1.0, (2+3j), 'a', ['aa', 'bb'], (1.0, 2.0, 3.0), {1, 2, 3}, {'a': 1})
################################
1 <class 'int'>
1.0 <class 'float'>
(2+3j) <class 'complex'>
a <class 'str'>
['aa', 'bb'] <class 'list'>
(1.0, 2.0, 3.0) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'a': 1} <class 'dict'>

In [137]:
#lets create another tuple from existing tuples u and v
w = u + v 
print(w)

((1+2j), (3+3j), 'a', 'bb', 1, 1.0, (2+3j), 'a', ['aa', 'bb'], (1.0, 2.0, 3.0), {1, 2, 3}, {'a': 1})

#### Doesnt' support item assignment

In [138]:
print(v)
print("################################")
print(v[0])
print(v[1])
print("################################")
v[0] =  100#t + u

(1, 1.0, (2+3j), 'a', ['aa', 'bb'], (1.0, 2.0, 3.0), {1, 2, 3}, {'a': 1})
################################
1
1.0
################################

TypeError: 'tuple' object does not support item assignment

In [139]:
print("w data is - ",w)
#lets verify the datatype for the above
for element in w:
    print( element ,type(element))
#the same can done with lists also.

print("################################")
#a = [(element ,type(element))for element in w]
#print(a)

w data is -  ((1+2j), (3+3j), 'a', 'bb', 1, 1.0, (2+3j), 'a', ['aa', 'bb'], (1.0, 2.0, 3.0), {1, 2, 3}, {'a': 1})
(1+2j) <class 'complex'>
(3+3j) <class 'complex'>
a <class 'str'>
bb <class 'str'>
1 <class 'int'>
1.0 <class 'float'>
(2+3j) <class 'complex'>
a <class 'str'>
['aa', 'bb'] <class 'list'>
(1.0, 2.0, 3.0) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'a': 1} <class 'dict'>
################################

In [140]:
#Slicing is supported
print(t[1])
#Indexing 
u[2] = "aa"

2

TypeError: 'tuple' object does not support item assignment

In [141]:
#Tuple contains nested tuples
t1 = ("apple", 3, 1.4, ("banana", 5))
for element in t1:
    print( element ,type(element))

print("banana" not in t1)

apple <class 'str'>
3 <class 'int'>
1.4 <class 'float'>
('banana', 5) <class 'tuple'>
True

#### Membership Operation

In [142]:
#check the membership of an element in a tuple
#in operation is used to check the membership
# membership is true if the value is present else false
t1 = ("apple", "banana", "cherry","apple")
print( "banana" in t1 )
print( "orange" in t1 )
print( "banana" not in t1 )

True
False
False

##### Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [145]:

# Use .index to enter a value and return the index

print(t1.index('apple'))
# Use .count to count the number of times a value appears
print("count is {}".format(t1.count('apple')))

0
count is 2

In [ ]:
# I would recommend always using parentheses
# to indicate start and end of tuple
# even though parentheses are optional.
# Explicit is better than implicit.
zoo = 'python', 'elephant', 'penguin'
print('Number of animals in the zoo is', len(zoo))
new_zoo = 'monkey', 'camel',  zoo
print('Number of cages in the new zoo is', len(new_zoo))
print('All animals in new zoo are', new_zoo)
print('Animals brought from old zoo are', new_zoo[2])
print('Last animal brought from old zoo is', new_zoo[2][-1])
print('Last animal brought from old zoo is', zoo[-1])
print('Number of animals in the new zoo is',len(new_zoo)-1+len(zoo))
len(new_zoo),len(zoo)

### Sets 

#### Sets
Sets are immutable,unordered collection of unique elements. 

We can construct them by using the set() function. 
Let's go ahead and make a set to see how it works

In [ ]:
### Creating a Set
#### Sets can be created with set constructor or by directly defining the values in a {} brackets

In [151]:
a1 = set() #list() #dict() #tuple()
print(type(a1))
b1 = {3,1,2,1}
print(type(b1))

b2 = {1:2,2:3}
print(b2)
print(type(b2))

b3 = {}
print(type(b3))

<class 'set'>
<class 'set'>
{1: 2, 2: 3}
<class 'dict'>
<class 'dict'>

#### Various methods in Set 
<ul>
<li>membership "in"</li>
<li>isdisjoint</li>
<li>subset</li>
<li>propersubset</li>
<li>superset</li>
<li>propersuperset</li>
<li>union</li>
<li>intersection</li>
<li>difference</li>
<li>intersection_update</li>
<li>difference_update</li>
<li>symmetric_difference_update</li>
<li>copy</li>
<li>add</li>
<li>pop</li>
<li>remove</li>
<li>discard</li>
<li>clear</li>
<ul>

In [153]:
a = {1,2,3,4,5}
#a=1,2
#print(type(a))
b= {4,5,6}
c ={6,7,8}
d= {6,7,9,10,11}
e ={0,1,6,7,11,22,33}
f = {1,2,3,6,7,8}
ab={1,2, 3, 4, 5}

z =4

In [154]:
#print(len(a))
print(z in b)
print("######################")
#checking conditions
print("checking membership of z not in ab code: z not in ab : result ={0}".format(z not in ab))
print("######################")

True
######################
checking membership of z not in ab code: z not in ab : result =False
######################

In [156]:
print("checking if set a and ab  are disjoint a is disjoint to  ab code: a.isdisjoint(ab): result: {0} ".format(a.isdisjoint(ab)))
print("######################")
print("checking if set a and ab  are disjoint a is disjoint to  c code: a.isdisjoint(c): result: {0} ".format(a.isdisjoint(c)))
print("######################")

checking if set a and ab  are disjoint a is disjoint to  ab code: a.isdisjoint(ab): result: False
######################
checking if set a and ab  are disjoint a is disjoint to  c code: a.isdisjoint(c): result: True
######################

In [157]:
print("a : ", a)
print("ab : ", ab)
print("check if all the members of a are members of set ab code:- a.issubset(ab): result - {0}".format(a.issubset(ab)))
print("######################")
print("check if all the members of a are members of set ab, , using symbol code: a <= ab : result   - {0}".format(a <= ab))
print("check if all the members of a are members of set ab and not equals to set ab ie proper subset code: a < ab : result - {0}".format(a < ab))
print("######################")

a :  {1, 2, 3, 4, 5}
ab :  {1, 2, 3, 4, 5}
check if all the members of a are members of set ab code:- a.issubset(ab): result - True
######################
check if all the members of a are members of set ab, , using symbol code: a <= ab : result   - True
check if all the members of a are members of set ab and not equals to set ab ie proper subset code: a < ab : result - False
######################

In [ ]:
print("check if all the members of a are members of set ab, here ab is called as superset of a code: ab.issuperset(a) : result - {0} ".format(ab.issuperset(a)))
print("check if all the members of a are members of set ab, here ab is called as superset of a, using symbol code: ab >= a result:  - {0}".format(ab >= a))
print("######################")
print("check if all the members of a are members of set ab, here ab is called as superset of a, and is a proper superset code: ab > a result: - {0}".format(ab > a))

In [ ]:
#operations
print("a : ", a)
print("b : ", b)
print("Union or combining elements from two sets code: a.union(b) : result: {}".format(a.union(b)))
print("Union or combining elements from two sets - using symbol  code: a|b : result: {}".format(a|b))
print("######################")
a

In [158]:
print("a : ", a)
print("b : ", b)
print("finding the common items between two sets code: a.intersection(b) result: - {0}".format(a.intersection(b)))
print("finding the common items between two sets -using symbol code: a & b result: - {0}".format(a&b))
print("######################")

a :  {1, 2, 3, 4, 5}
b :  {4, 5, 6}
finding the common items between two sets code: a.intersection(b) result: - {4, 5}
finding the common items between two sets -using symbol code: a & b result: - {4, 5}
######################

In [161]:
print("a : ", a)
print("b : ", b)
print("find the difference between two sets code: a.difference(b) {0}".format(a.difference(b)))
print("find the difference between two sets, a -b code: a-b : result: {0} ".format(b-a))

a :  {1, 2, 3, 4, 5}
b :  {4, 5, 6}
find the difference between two sets code: a.difference(b) {1, 2, 3}
find the difference between two sets, a -b code: a-b : result: {6}

In [163]:
print("C set is {0} ".format(c))
print("D set is {0} ".format(d))
print("udpating one set with elements in other set code: c.update(d) - result {0}".format(c.update(d)))
#c|=d
print("######################")
print("C set is {0} ".format(c))

C set is {6, 7, 8, 9, 10, 11}
D set is {6, 7, 9, 10, 11}
udpating one set with elements in other set code: c.update(d) - result None
######################
C set is {6, 7, 8, 9, 10, 11}

In [164]:
# 
print("c : ", c)
print("d : ", d)
print("intersection update between c and d: code: c.intersection_update(d) : result - {0}".format(c.intersection_update(d)))
#c &= d 
print("C set is {0} ".format(c))
print("D set is {0} ".format(d))

c :  {6, 7, 8, 9, 10, 11}
d :  {6, 7, 9, 10, 11}
intersection update between c and d: code: c.intersection_update(d) : result - None
C set is {6, 7, 9, 10, 11}
D set is {6, 7, 9, 10, 11}

In [165]:
# 
print("c : ", c)
print("e : ", e)
print("C set value is  {0} ".format(c)) 
print("E set value is  {0} ".format(e)) 
print("difference updated between e and c code: e.difference_update(c) : result - {0}".format(e.difference_update(c)))
print("E set becomes {0} ".format(e))
print("######################")

c :  {6, 7, 9, 10, 11}
e :  {0, 1, 33, 6, 7, 22, 11}
C set value is  {6, 7, 9, 10, 11}
E set value is  {0, 1, 33, 6, 7, 22, 11}
difference updated between e and c code: e.difference_update(c) : result - None
E set becomes {0, 1, 33, 22}
######################

In [ ]:

print("D set becomes {0} ".format(d))
print("######################")  
# 
#print("intersection update between c and d: code: d.intersection_update(c) : result - {0}".format(d.intersection_update(c)))
# print("D set becomes {0} ".format(d))
# 
#
print("B set value is  {0} ".format(b)) 
print("C set value is  {0} ".format(c)) 
print("D set value is  {0} ".format(d)) 
 
print("difference updated between b and d , updates the code: b.difference_update(d) : result - {0}".format(b.difference_update(d)))
print("B set becomes {0} ".format(b))
#print("difference updated between b and c , updates the using the symbol: b -= c : result - {0}".format(b -= c))
print("B set becomes {0} ".format(b))
print("######################")

In [166]:

print("f : ", f)
print("a : ", a)

print("F set becomes {0} Before symmetric difference".format(f))
  
print("A set becomes {0} Before symmetric difference".format(a))

print("symmetric difference updated between a and f code: a.symmetric_difference_update(f) : result - {0}".format(a.symmetric_difference_update(f)))
print("A set becomes {0} ".format(a))
  
print("doing the operation again") 
a ^= f
print("F set becomes {0} after symmetric difference".format(f))
  
print("A set becomes {0} after symmetric difference".format(a))

f :  {1, 2, 3, 6, 7, 8}
a :  {1, 2, 3, 4, 5}
F set becomes {1, 2, 3, 6, 7, 8} Before symmetric difference
A set becomes {1, 2, 3, 4, 5} Before symmetric difference
symmetric difference updated between a and f code: a.symmetric_difference_update(f) : result - None
A set becomes {4, 5, 6, 7, 8}
doing the operation again
F set becomes {1, 2, 3, 6, 7, 8} after symmetric difference
A set becomes {1, 2, 3, 4, 5} after symmetric difference

In [173]:
aa = {"ab","bc","cd"}

In [170]:
# 
print(aa)
z= aa.copy()
print("copying to another variable z {0}".format(z))
print(z)

{'de', 'ab', 'bc'}
copying to another variable z {'de', 'ab', 'bc'}
{'de', 'ab', 'bc'}

In [205]:
aa.add("xy")
print("adding  xy condition result {0}".format(aa))

aa.add("xy1")


print("add xy1 condition result {0}".format(aa))
aa.add("ay")


print("add ay condition result {0}".format(aa))
aa.add("ay1")

#aa.sort()

print("add condition result {0}".format(aa))
aa.add("abc")
print("add condition result {0}".format(aa))
#aa[0] = "hello world"

adding  xy condition result {'xy'}
add xy1 condition result {'xy1', 'xy'}
add ay condition result {'ay', 'xy1', 'xy'}
add condition result {'ay', 'xy1', 'xy', 'ay1'}
add condition result {'xy', 'xy1', 'ay', 'abc', 'ay1'}

In [185]:
aa.pop()
print(aa)

{'xy1', 'bc', 'ab', 'ay', 'abc', 'ay1'}

In [175]:
x = {9,8,7,1,2,3,4,5}
print(x)

{1, 2, 3, 4, 5, 7, 8, 9}

In [190]:
x.pop()
print("pop condition result {}".format(x))

KeyError: 'pop from an empty set'

In [187]:
aa.remove("ay")
print("remove condition result {}".format(aa))

KeyError: 'ay'

In [215]:
aa.discard("xy1")
print("discard condition result {0}".format(aa))

discard condition result {'xy', 'ay', 'abc'}

Clear Items

In [216]:
aa.clear()
print("clear condition result {0}".format(aa))

clear condition result set()

# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!m

In [ ]:
b = {1:"1","2":2} 
c = {} 
d = dict({1:"2","2":4})
e = dict()
print(b,"\n",c,"\n",d,"\n",e)

In [ ]:
#Creating a dictionary
dict1 = {}
dict2 ={'name':'john','age': 25}
dict2 =dict({'name':'john','age': 25})
dict3 = dict()
#creating a dictionary with values
print(type(dict1))
print(type(dict2))
print(type(dict3))
print("####################################################")
#lets have multiple type of keys for a dictionary
from datetime import datetime
mydict =    {
  "type": "employee",
  "name": "John",
  "age": 41,
  "dept": "HR",
  1:"description1",
  2: "description2",
  "joiningdate":  datetime.now().strftime('%Y %m %d %H %M %S %f'),
  datetime.now(): "Date of Joining with key date in date time format",
  datetime.now().strftime('%Y:%m:%d'): "Date of Joining with key date in string format"
}
print(mydict)
print(datetime.now())
print(type(datetime.now()))

In [ ]:
import datetime
print(datetime.datetime.now())
print(datetime.date.today())
a = datetime.time(23,35,35)
print(a)
b = datetime.datetime.utcnow()
print(b)

Lets add another key named  "name": "John1", Since Name is already defined in the dictionary , It will update the key with the new value, if the value is “John1” then

In [ ]:
#Datetime library is used include date for keys and values.
from datetime import datetime
thisdict = {
  "type": "employee",
  "name": "John",
  "name": "John1",
  "age": 41,
  "dept": "HR",
  1:"description1: this description is holding a key 1 and it's not an  index",
  2: "description2",
  "joiningdate":  datetime.now().strftime('%Y-%m-%d'),
  datetime.now(): "Date of Joining with key date in date time format",
  datetime.now().strftime('%Y-%m-%d'): "Date of Joining with key date in string format"
}
print(thisdict)
print(type(thisdict))

In [ ]:
### Dictionaries can be indexed with keys not with index values or positions

In [ ]:
print(thisdict["name"])
print(thisdict[1])
print(thisdict[2])
print(thisdict[0])

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
#my_dict = {(1,2,3):123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Set the object equal to itself minus 123 
print("Before subtraction: {}".format(my_dict))
my_dict['key1'] -= 1
my_dict['key2'][2] -= 1
print("After subtraction: {}".format(my_dict))
my_dict["key3"][1] = "python"
print("After subtraction: {}".format(my_dict))

In [ ]:
fruitbasket = { "apple":3, "banana":5, "cherry":50 }

print(fruitbasket.keys(),type(fruitbasket.keys()))
print(list(fruitbasket.keys()))

print("####################################")
print(fruitbasket.values() , type(fruitbasket.values()))
print(list(fruitbasket.values()))
print("####################################")
print(fruitbasket.items(),type(fruitbasket.items()))
print(list( fruitbasket.items()))

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
flowersdict = {}
flowersdict["flower1"] = "Rose"
flowersdict["flower2"] = "Shoeflower"
flowersdict["flower3"] = "Tulips"
flowersdict["flower4"] = "Daisy"
flowersdict["flower5"] = "Lotus"
print(flowersdict)
flowersdict.update({"flower6":"Rose"})
print(flowersdict)
flowersdict.update({"flower6":"RedRose","flower7":"lavender"})
print(flowersdict)

## retrieving dict items

In [ ]:
print(flowersdict.keys())
print(flowersdict.values())
print(flowersdict.items())

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [ ]:
#import json
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'Animals':{'Carnivores':{'carnivore1':'lion','carnivore2':'Tiger'},'Herbivores':{'Herbivore1':'Deer','Herbivore2':'Antelope'}}}
#{'Carnivores':{'carnivore1':'lion','carnivore2':'Tiger'},'Herbivores':{'Herbivore1':'Deer','Herbivore2':'Antelope'}}
#print(json.dumps(d,pretty =True))
print(type(d))
print(d.items())
for x,y in d.items():
    print(type(x),x)
    print(type(y),y)
    if(type(y) == dict):
        for x1,y1 in y.items():
            print(type(x1),x1)
            print(type(y1),y1)

#### A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

<table class="views-table cols-2">
         <thead>
      <tr>
                  <th >
            Method          </th>
                  <th>
            Description          </th>
              </tr>
    </thead>
    <tbody>
          <tr>
                  <td>
            <a>Python Dictionary clear()</a>          </td>
                  <td>
            Removes all Items          </td>
              </tr>
          <tr>
                  <td>
            <a>Python Dictionary copy()</a>          </td>
                  <td>
            Returns Shallow Copy of a Dictionary          </td>
              </tr>
          <tr>
                  <td>
            Python Dictionary fromkeys()          
              </td>
                       <td> creates dictionary from given sequence          </td>
              </tr>
          <tr>
                  <td>
            Python Dictionary get()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns Value of The Key          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/items">Python Dictionary items()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns view of dictionary's (key, value) pair          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/keys">Python Dictionary keys()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns View Object of All Keys          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/popitem">Python Dictionary popitem()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns &amp; Removes Element From Dictionary          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/setdefault">Python Dictionary setdefault()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Inserts Key With a Value if Key is not Present          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/pop">Python Dictionary pop()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            removes and returns element having given key          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/values">Python Dictionary values()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns view of all values in dictionary          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/dictionary/update">Python Dictionary update()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Updates the Dictionary          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/any">Python any()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Checks if any Element of an Iterable is True          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/all">Python all()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns true when all elements in iterable is true          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/ascii">Python ascii()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns String Containing Printable Representation          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/bool">Python bool()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Converts a Value to Boolean           </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/dict">Python dict()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Creates a Dictionary          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/enumerate">Python enumerate()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns an Enumerate Object          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/filter">Python filter()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            constructs iterator from elements which are true          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/iter">Python iter()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns iterator for an object          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/len">Python len()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns Length of an Object          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/max">Python max()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns largest element          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/min">Python min()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns smallest element          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/map">Python map()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Applies Function and Returns a List          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/sorted">Python sorted()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            returns sorted list from a given iterable          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/sum">Python sum()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Add items of an Iterable          </td>
              </tr>
          <tr>
                  <td class="views-field views-field-title">
            <a href="/python-programming/methods/built-in/zip">Python zip()</a>          </td>
                  <td class="views-field views-field-field-c-short-description">
            Returns an Iterator of Tuples          </td>
              </tr>
      </tbody>
</table>m

In [ ]:
fruitbasket = { "apple":3, "banana":5, "cherry":50 }
print(fruitbasket)
fruitbasket.clear() 
#Removes all elements of dictionary dict
print(fruitbasket)

In [ ]:
fruitbasket = { "apple":3, "banana":5, "cherry":50 }
print(fruitbasket)
print(fruitbasket.pop("apple"))
#Removes all elements of dictionary dict
print(fruitbasket)

In [ ]:
fruitbasket = { "apple":3, "banana":5, "cherry":50 }
fruitsbasket2 = fruitbasket.copy()
print(fruitsbasket2)
fruitbasket["apple"] =10
fruitsbasket2

In [ ]:
result = fruitbasket.get("apple",0) 
#result = fruitbasket["apple"]
#For key key, returns value or default if key not in dictionary
print(result)
result = fruitbasket.get("greenapple",{}) 
#For key key, returns value or default if key not in dictionary
print(result, type(result))
result = fruitbasket.get("apple") 
#For key key, returns value or default if key not in dictionary
print(result)

In [ ]:
print(fruitbasket.items() )
print(fruitbasket.values() )
print(fruitbasket.keys() )

In [ ]:
x = fruitbasket.setdefault("apple7",15)
print(x)
print("##############################")
print(fruitbasket)
fruitbasket.setdefault("apple",6)
print("###############")

In [ ]:
fruitbasket = { "apple":3, "banana":5, "cherry":50 }
fruitbasket.setdefault("Orange",2)
print(fruitbasket)

In [ ]:
a = dict.fromkeys(flowersdict)
b = dict.fromkeys(fruitbasket)
c = dict.fromkeys(['ab','bc','cd'])
d = dict.fromkeys({'ab','bc','cd'})
e = dict.fromkeys(('ab','bc','cd'))
print(a)
print(b)
print(c)
print(d)
fruitbasket.update({"Apple":101})
print(fruitbasket)
fruitbasket.update({"apple":100})
print(fruitbasket)
fruitbasket["apple1"] = 102
print(fruitbasket)
print(fruitbasket["apple"])
print(fruitbasket.get("apple123",{})) 
#fruitbasket.add({"pineapple":123})
print(fruitbasket)

In [ ]:
dict1 = {}
dict1.setdefault("Hello", None)
dict1.update({1:"1"})
print(dict1.items())
from datetime import datetime
thisdict =    {
  "type": "employee",
  "name": "John",
  "age": 41,
  "dept": "HR",
  1:"description1",
  2: "description2",
  "joiningdate":  datetime.now().strftime('%Y-%m-%d'),
  datetime.now(): "Date of Joining with key date in date time format",
  datetime.now().strftime('%Y-%m-%d'): "Date of Joining with key date in string format"
}
#the duplicate key is updated with new value John1
print(thisdict)
print(thisdict[1])
print(thisdict.get("name","Not Found"))


print(type(thisdict))

b = thisdict.copy
print(b)
print("fetches the value of the key {0}".format(thisdict.get("name")))
print("fetches the value of the key {0} if key not present returns empty dict".format(thisdict.get("name1",{})))
print("type obtained from gettigng key value dict".format(type(thisdict.get("name1",{}))))
print("items in dictionary {0}".format(thisdict.items()))
print("keys in dictionary {0}".format(thisdict.keys()))
thisdict.pop("age")# removing the element with key age
#thisdict.pop("age1")# removing the element with key age
print(thisdict)
print("###############")
print("keys in dictionary {0}".format(thisdict.keys()))
print("###############")
thisdict.popitem()# removes the arbitrary element
print("###############")
print("keys in dictionary {0}".format(thisdict.keys()))
print(thisdict)
thisdict.clear() # clear up all the items in the dictionary

In [ ]:
#Lets take the flowers dict for all the operations

In [ ]:
flowersdict = {'flower1': 'Rose', 'flower2': 'Shoeflower', 'flower3': 'Tulips', 'flower4': 'Daisy', 'flower5': 'Lotus'}
print(flowersdict)
#Clear operation 
flowersdict.clear()
print(flowersdict)
flowersdict = {'flower1': 'Rose', 'flower2': 'Shoeflower', 'flower3': 'Tulips', 'flower4': 'Daisy', 'flower5': 'Lotus'}
print(flowersdict)

In [ ]:
flowerlist2 =  flowersdict.copy()
print(flowerlist2)
flowersdict["flower1"] = "Red Rose"
print(flowerlist2)
print(flowersdict)

In [ ]:
#Get Operation
#Retriviengi the value with key index throws error if key is not present
a = flowersdict.get("flower2")
b = flowersdict.get("flower",123)
print("fetches the value of the key {0}".format(a))
print("fetches the value of the key {0} if key not present returns empty dict".format(b))
c = flowersdict["flower6"]
print("fetches the value of the key {0} if key not present returns empty dict".format(c))