In [ ]:
List - duplicates     --> []
Tuple - Same as list but immutable  -> {}
set - unordered, unique and not able to index  --> {}
dict - key value pairs    --> {}

In [3]:
x=1

In [16]:
y=2
f=x+y
print(f)
g=x*y
print(g)
wor='jackkky'
len(wor)
wor[2:5]
wor.upper()
wor[-5]

3
2

'c'

In [28]:
mylst=[1,2,4.0,4+9j,'ede',6,2,7,]
print(mylst)
mylst[2:5]
mylst[3]=40+90j
mylst
mylst.insert(5,1000)
mylst
mylst.append(1222)
mylst.reverse()
mylst

[1, 2, 4.0, (4+9j), 'ede', 6, 2, 7]

[1222, 7, 2, 6, 1000, 'ede', (40+90j), 4.0, 2, 1]

In [75]:
coursedict={1:'hai',2:'wel','third':'edeee'}
coursedict
coursedict['third']
coursedict['third']='hadoop'
coursedict['4']='hadoop'
coursedict

{1: 'hai', 2: 'wel', 'third': 'hadoop', '4': 'hadoop'}

In [70]:
anituple={'tiger','lion','kion',1,2,1}
anituple

SyntaxError: invalid syntax (<ipython-input-70-11553ce7ef69>, line 2)

In [73]:
myset= {1,2,3,3,33,'ede','loun',6,7}
myset
#myset[3] no indexing

{1, 2, 3, 33, 6, 7, 'ede', 'loun'}

In [57]:
range(10)
list(range(11))
a={1,2,3,3,'ere','ere','qwe'}
b=[3,4,4,'lol']
c=[a,b]
print(c)

[{'ere', 1, 2, 3, 'qwe'}, [3, 4, 4, 'lol']]

In [68]:
a=10
b='kit'
str(a)+b
lst_dict=[coursedict]
lst_dict

[{1: 'hai', 2: 'wel', 'third': 'hadoop', '4': 'learn'}]

In [120]:
mytext = "India"
AB =20
centermytext = mytext.center(11,'@')
centermytext
###################################################3

mytext = mytext.replace("d","    ")
print(mytext)
word= 'Welcome to the new world'
result = word.find("lcome")
print(result)
resindex=word.index("new")
resindex
infotext  = "Welcome to my World, The World is too good to live"
infotext_1  = "Welcome to my World, The World is too good to live"
print(infotext.count("World"))
print("all occurence count %d %s" %(result,"World"))
TS = "Hello Python" 
print(TS[0])
print(TS[6])
#print(TestString[::3])
print(TS[::-1])
print(TS[::3])
#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
myalpha ="abcd" #contains characters [a-zA-Z]
myalphanumeric = "abcdef123" #contains characters [a-zA-Z0-9]
mynotalphanumeric= "&abcdef123" # Not fitting all three cases (Contain a symbol)
mydecimal ="123" #contains characters [0-9]
print("myalpa string is decimal - {}".format(myalpha.isdecimal()))
print("myalphanumeric string is decimal - {}".format(myalphanumeric.isdecimal()))
print("mynotalphanumeric string is decimal - {}".format(mynotalphanumeric.isdecimal()))
print("mydecimal string is decimal - {}".format(mydecimal.isdecimal()))
#****************************************************************************************
#****************************************************************************************
print("welcome to my world1")
print("welcome to \n my w\t o\t rld\t2")
print("welcome to m\ty\two\trld\t3")
print("#################################")
mytabbedstring = "H\te\tl\tl\to"
mytabbedstring.expandtabs(20)
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%55
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%5
Fruits = "apple,orange, grapes, gu,ava, p,ine,apple"
Fruits.split(",",2)
Fruits

In    ia
2
2
all occurence count 2 World
H
P
nohtyP olleH
HlPh
myalpa string is decimal - False
myalphanumeric string is decimal - False
mynotalphanumeric string is decimal - False
mydecimal string is decimal - True
welcome to my world1
welcome to
 my w	 o	 rld	2
welcome to m	y	wo	rld	3
#################################

'apple,orange, grapes, gu,ava, p,ine,apple'

In [129]:
multilinestring = """India is a vast South Asian country with diverse terrain –
                from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.
                In the north, Mughal Empire landmarks include Delhi’s Red Fort complex
                and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum. 
                Pilgrims bathe in the Ganges in Varanasi,and Rishikesh is a yoga centre and base for Himalayan trekking."""
Y  = multilinestring.splitlines(True)
print("#############################")
for x in Y:
    print(x)
print("#############################")
IgnoreNewlineCharacter = multilinestring.splitlines()
print(IgnoreNewlineCharacter)
print("#############################")
[print(x) for x in IgnoreNewlineCharacter]

#############################
India is a vast South Asian country with diverse terrain –

                from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.

                In the north, Mughal Empire landmarks include Delhi’s Red Fort complex

                and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum.

                Pilgrims bathe in the Ganges in Varanasi,and Rishikesh is a yoga centre and base for Himalayan trekking.
#############################
['India is a vast South Asian country with diverse terrain –', '                from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.', '                In the north, Mughal Empire landmarks include Delhi’s Red Fort complex', '                and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum. ', '                Pilgrims bathe in the Ganges in Varanasi,and Rishikesh is a yoga centre and base for Himalayan trekking.']
#############################
India is a vast South Asian country with diverse terrain –
                from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.
                In the north, Mughal Empire landmarks include Delhi’s Red Fort complex
                and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum.
                Pilgrims bathe in the Ganges in Varanasi,and Rishikesh is a yoga centre and base for Himalayan trekking.

[None, None, None, None, None]

In [147]:
a  = "  d Ode on a Grecian Urts  d "
b = a.strip()
print(b)
c = a.lstrip()
print(c)
a  = ",,,,,????... Ode on a Grecian Urtsssss ....,,,"
#strip
f = a.lstrip("., ")
print(f)
print("%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%5")
myencodedstring  = "I åm leărninåg Ã PythŠoÂn"
print(myencodedstring.encode(encoding = 'ascii', errors = 'namereplace'))

d Ode on a Grecian Urts  d
d Ode on a Grecian Urts  d
????... Ode on a Grecian Urtsssss ....,,,
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%5
b'I \\N{LATIN SMALL LETTER A WITH RING ABOVE}m le\\N{LATIN SMALL LETTER A WITH BREVE}rnin\\N{LATIN SMALL LETTER A WITH RING ABOVE}g \\N{LATIN CAPITAL LETTER A WITH TILDE} Pyth\\N{LATIN CAPITAL LETTER S WITH CARON}o\\N{LATIN CAPITAL LETTER A WITH CIRCUMFLEX}n'

# COLLECTIONS

In [1]:
print("Hai")

Hai

In [ ]:
List - Contains duplicate, given order and unordered(no- repeating , string unique)
Set - Alphabetical order no repeating
Dict - Given order,

In [76]:
from collections import Counter
lst =[1,2,3,4,4,4,4,5,6,6,6,8,8,9,9,0]
Counter(lst)
Counter('2222333767786876876876876')
s = 'How many each times does word show up in this sentence word times each word hi'
words = s.split()
Counter(words)
com=Counter(words)
com.most_common(4)
sum(com.values())
#list(lst)
#list(com)
#set(lst)
set(com)

{'How',
 'does',
 'each',
 'hi',
 'in',
 'many',
 'sentence',
 'show',
 'this',
 'times',
 'up',
 'word'}

In [ ]:
sum(c.values())                 
c.clear()                       
list(c)                         
set(c)                          
dict(c)                         
c.items()                       
Counter(dict(list_of_pairs))    
c.most_common()[:-n-1:-1]       
c += Counter()