#### Installing Pandas
pip install pandas

### Reference Link for pandas
<a href="https://pandas.pydata.org/pandas-docs/stable/reference/index.html">API reference Pandas</a>

# Importing pandas into your application

In [6]:
# import numpy and pandas, and DataFrame / Series
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

# Set some pandas options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

# And some items for matplotlib
#%matplotlib inline 
#import matplotlib.pyplot as plt
#pd.options.display.mpl_style = 'default'

# Primary pandas objects

## The pandas Series

In [7]:
# create a four item Series
s = Series([5, 8, 3, 4])
s

0    5
1    8
2    3
3    4
dtype: int64

In [8]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
# return a Series with the row with labels 1 and 3
s[[1,3]]

1    8
3    4
dtype: int64

In [10]:
# create a series using an explicit index
s = Series([5, 8, 3, 4], index = ['a', 'b', 'c', 'd'])
s

a    5
b    8
c    3
d    4
dtype: int64

In [11]:
# look up items the series having index 'a' and 'd'
s[['b', 'd']]

b    8
d    4
dtype: int64

In [12]:
# passing a list of integers to a Series that has
# non-integer index labels will look up based upon
# 0-based index like an array
s[[1, 3]]

b    8
d    4
dtype: int64

In [13]:
# get only the index of the Series
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
# create a Series who's index is a series of dates
# between the two specified dates (inclusive)
dates = pd.date_range('2014-07-01', '2014-07-06')
dates1 = pd.date_range('2014-07-02', '2014-07-07')
dates

# create a Series with values (representing temperatures)
# for each date in the index
temps1 = Series([80, 82, 85, 90, 83, 87], 
                index = dates)
temps1

2014-07-01    80
2014-07-02    82
2014-07-03    85
2014-07-04    90
2014-07-05    83
2014-07-06    87
Freq: D, dtype: int64

In [15]:
# calculate the mean of the values in the Series
temps1.mean()

84.5

In [16]:
temps1.max()

90

In [17]:
temps1.min()

80

In [18]:
temps1.sum()

507

In [19]:
temps1.cumsum()

2014-07-01     80
2014-07-02    162
2014-07-03    247
2014-07-04    337
2014-07-05    420
2014-07-06    507
Freq: D, dtype: int64

In [20]:
# create a second series of values using the same index
temps2 = Series([70, 75, 69, 83, 79, 77], 
                index = dates1)

In [21]:
print(temps1)

2014-07-01    80
2014-07-02    82
2014-07-03    85
2014-07-04    90
2014-07-05    83
2014-07-06    87
Freq: D, dtype: int64

In [22]:
print(temps2)

2014-07-02    70
2014-07-03    75
2014-07-04    69
2014-07-05    83
2014-07-06    79
2014-07-07    77
Freq: D, dtype: int64

In [23]:

# the following aligns the two by their index values
# and calculates the difference at those matching labels
temp_diffs = temps1 - temps2
print(type(temp_diffs))
temp_diffs

<class 'pandas.core.series.Series'>

2014-07-01     NaN
2014-07-02    12.0
2014-07-03    10.0
2014-07-04    21.0
2014-07-05     0.0
2014-07-06     8.0
2014-07-07     NaN
Freq: D, dtype: float64

In [24]:
# lookup a value by date using the index
temp_diffs['2014-07-03']

10.0

In [25]:
# and also possible by integer position as if the 
# series was an array
temp_diffs[3]

21.0

## The pandas DataFrame

In [26]:
# create a DataFrame from the two series objects temp1 and temp2
# and give them column names
temps_df = DataFrame(
            {'Missoula': temps1, 
             'Philadelphia': temps2})
print(type(temps_df))
temps_df

<class 'pandas.core.frame.DataFrame'>

            Missoula  Philadelphia
2014-07-01      80.0           NaN
2014-07-02      82.0          70.0
2014-07-03      85.0          75.0
2014-07-04      90.0          69.0
2014-07-05      83.0          83.0
2014-07-06      87.0          79.0
2014-07-07       NaN          77.0

In [27]:
# get the column with the name Missoula
temps_df['Missoula']

2014-07-01    80.0
2014-07-02    82.0
2014-07-03    85.0
2014-07-04    90.0
2014-07-05    83.0
2014-07-06    87.0
2014-07-07     NaN
Freq: D, Name: Missoula, dtype: float64

In [28]:
# likewise we can get just the Philadelphia column
temps_df['Philadelphia']

2014-07-01     NaN
2014-07-02    70.0
2014-07-03    75.0
2014-07-04    69.0
2014-07-05    83.0
2014-07-06    79.0
2014-07-07    77.0
Freq: D, Name: Philadelphia, dtype: float64

In [29]:
# return both columns in a different order
x = temps_df[['Philadelphia', 'Missoula']]
print(type(x))

<class 'pandas.core.frame.DataFrame'>

In [30]:
x = temps_df['Missoula']
print(type(x))

<class 'pandas.core.series.Series'>

In [31]:
# retrieve the Missoula column through property syntax
print(type(temps_df.Missoula))
temps_df.Missoula

<class 'pandas.core.series.Series'>

2014-07-01    80.0
2014-07-02    82.0
2014-07-03    85.0
2014-07-04    90.0
2014-07-05    83.0
2014-07-06    87.0
2014-07-07     NaN
Freq: D, Name: Missoula, dtype: float64

In [32]:
# calculate the temperature difference between the two cities
temps_df.Missoula - temps_df.Philadelphia

2014-07-01     NaN
2014-07-02    12.0
2014-07-03    10.0
2014-07-04    21.0
2014-07-05     0.0
2014-07-06     8.0
2014-07-07     NaN
Freq: D, dtype: float64

In [33]:
# add a column to temp_df which contains the difference in temps
temps_df['Difference'] = temp_diffs
temps_df['Difference1'] = temps_df.Missoula - temps_df.Philadelphia
temps_df

            Missoula  Philadelphia  Difference  Difference1
2014-07-01      80.0           NaN         NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN

In [34]:
# get the columns, which is also an Index object
temps_df.columns

Index(['Missoula', 'Philadelphia', 'Difference', 'Difference1'], dtype='object')

In [35]:
# slice the temp differences column for the rows at 
# location 1 through 4 (as though it is an array)
temps_df.Difference[1:5]

2014-07-02    12.0
2014-07-03    10.0
2014-07-04    21.0
2014-07-05     0.0
Freq: D, Name: Difference, dtype: float64

In [36]:
# get the row at array position 1
temps_df.iloc[6]

Missoula         NaN
Philadelphia    77.0
Difference       NaN
Difference1      NaN
Name: 2014-07-07 00:00:00, dtype: float64

In [37]:
# get the row at array position 1
temps_df.iloc[1:6]

            Missoula  Philadelphia  Difference  Difference1
2014-07-02      82.0          70.0        12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0

In [38]:
temps_df.iloc[1:5:2]

            Missoula  Philadelphia  Difference  Difference1
2014-07-02      82.0          70.0        12.0         12.0
2014-07-04      90.0          69.0        21.0         21.0

In [39]:
# the names of the columns have become the index
# they have been 'pivoted'
print(temps_df)
temps_df.ix[1:5:3]

            Missoula  Philadelphia  Difference  Difference1
2014-07-01      80.0           NaN         NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN

c:\python373\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

            Missoula  Philadelphia  Difference  Difference1
2014-07-02      82.0          70.0        12.0         12.0
2014-07-05      83.0          83.0         0.0          0.0

In [40]:
# retrieve row by index label using .loc
temps_df.loc['2014-07-03']

Missoula        85.0
Philadelphia    75.0
Difference      10.0
Difference1     10.0
Name: 2014-07-03 00:00:00, dtype: float64

In [41]:
temps_df

            Missoula  Philadelphia  Difference  Difference1
2014-07-01      80.0           NaN         NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN

In [42]:
temps_df.Difference[[1,3,5]]

2014-07-02    12.0
2014-07-04    21.0
2014-07-06     8.0
Name: Difference, dtype: float64

In [43]:
# get the values in the Differences column in tows 1, 3 and 5
# using 0-based location
temps_df.iloc[[1, 3, 5]].Difference

2014-07-02    12.0
2014-07-04    21.0
2014-07-06     8.0
Freq: 2D, Name: Difference, dtype: float64

In [44]:
temps_df>82

            Missoula  Philadelphia  Difference  Difference1
2014-07-01     False         False       False        False
2014-07-02     False         False       False        False
2014-07-03      True         False       False        False
2014-07-04      True         False       False        False
2014-07-05      True          True       False        False
2014-07-06      True         False       False        False
2014-07-07     False         False       False        False

In [45]:
temps_df[temps_df>5]

            Missoula  Philadelphia  Difference  Difference1
2014-07-01      80.0           NaN         NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0
2014-07-05      83.0          83.0         NaN          NaN
2014-07-06      87.0          79.0         8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN

In [46]:
# which values in the Missoula column are > 82?
temps_df.Missoula > 82

2014-07-01    False
2014-07-02    False
2014-07-03     True
2014-07-04     True
2014-07-05     True
2014-07-06     True
2014-07-07    False
Freq: D, Name: Missoula, dtype: bool

In [47]:
# return the rows where the temps for Missoula > 82
temps_df[temps_df.Missoula > 82]

            Missoula  Philadelphia  Difference  Difference1
2014-07-03      85.0          75.0        10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0

In [48]:
###### provides default 5 values from top
temps_df.head()

            Missoula  Philadelphia  Difference  Difference1
2014-07-01      80.0           NaN         NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0

In [49]:
###### provides default 6 values from top
temps_df.head(3)

            Missoula  Philadelphia  Difference  Difference1
2014-07-01      80.0           NaN         NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0

In [50]:
###### provides default 6 values from top
temps_df.tail(2)

            Missoula  Philadelphia  Difference  Difference1
2014-07-06      87.0          79.0         8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN

# Loading data from files and the web into a DataFrame

In [51]:
# display the contents of test1.csv
# which command to use depends on your OS
!cat data/test1.csv # on non-windows systems
#!type data/test1.csv # on windows systems

'cat' is not recognized as an internal or external command,
operable program or batch file.

###### Accessing Data

In [52]:
# read the contents of the file into a DataFrame
df = pd.read_csv('test1.csv')
df

                  date         0         1         2
0  2000-01-01 00:00:00  1.103763 -1.909979 -0.808956
1  2000-01-02 00:00:00  1.188917  0.581120  0.861597
2  2000-01-03 00:00:00 -0.964200  0.779764  1.829062
3  2000-01-04 00:00:00  0.782130 -1.720670 -1.108242
4  2000-01-05 00:00:00 -1.867017 -0.528368 -2.488309
5  2000-01-06 00:00:00  2.569280 -0.471901 -0.835033
6  2000-01-07 00:00:00 -0.399323 -0.676427 -0.011256
7  2000-01-08 00:00:00  1.642993  1.013420  1.435667
8  2000-01-09 00:00:00  1.147308  2.138000  0.554171
9  2000-01-10 00:00:00  0.933766  1.387155 -0.560143

In [53]:
eval(df.0)

SyntaxError: invalid syntax (<ipython-input-53-03e6522cb641>, line 1)

In [ ]:
# the contents of the date column
df[["0","2"]]

In [ ]:
# we can get the first value in the date column
df.date[0]

In [ ]:
# it is a string
type(df.date[0])

In [ ]:
type(df.date)

In [ ]:
# read the data and tell pandas the date column should be 
# a date in the resulting DataFrame
df = pd.read_csv('test1.csv', parse_dates=['date'])
df

In [ ]:
df.index

In [ ]:
# verify the type now is date
# in pandas, this is actually a Timestamp
type(df.date[0])

In [ ]:
# unfortunately the index is numeric which makes
# accessing data by date more complicated
df.index

In [ ]:
# read in again, now specity the data column as being the 
# index of the resulting DataFrame
df = pd.read_csv('test1.csv', 
                 parse_dates=['date'], 
                 index_col='date')
df

In [ ]:
# and the index is now a DatetimeIndex
df.index

In [ ]:
# imports for reading data from Yahoo!
from pandas.io.data import DataReader
from datetime import date
from dateutil.relativedelta import relativedelta

# read the last three months of data for GOOG
goog = DataReader("GOOG",  "yahoo", 
                  date.today() + 
                  relativedelta(months=-3))

# the result is a DataFrame
#and this gives us the 5 most recent prices
goog.tail()

In [ ]:
# use column 0 as the index
msft = pd.read_csv("msft.csv", index_col=1)
print(msft)

In [ ]:
# examine the types of the columns in this DataFrame
msft.dtypes

In [ ]:
# specify that the Volume column should be a float64
msft = pd.read_csv("msft.csv", 
                   dtype = { 'Volume' : np.float64})
msft.dtypes

In [ ]:
msft = pd.read_csv("msft.csv", dtype = {'High': str ,'Volume' : np.float64})
msft.Low = msft.High.astype(int,errors="raise")# errors ="ignore" or "raise"
print(msft.dtypes)
msft.head(20)

## Specifying column names

In [ ]:
# specify a new set of names for the columns
# all lower case, remove space in Adj Close
# also, header=0 skips the header row
df = pd.read_csv("msft.csv", 
                 header=3,
                 names=['open', 'high', 'low','close', 'volume', 'adjclose1'])
df.head(100)

In [ ]:
# specify a new set of names for the columns
# all lower case, remove space in Adj Close
# also, header=0 skips the header row
df = pd.read_csv("msft.csv", 
                 header=4)
df.head(100)

### Specifying specific columns to load

In [ ]:
# read in data only in the Date and Close columns
# and index by the Date column
df2 = pd.read_csv("msft.csv", 
                  usecols=['Date', 'Close','Low'], 
                  index_col=['Date'])
df2.head()

## Saving a DataFrame to a CSV

In [ ]:
# save df2 to a new csv file
# also specify naming the index as date
df2.to_csv("msft_modified.csv", index_label='date')

In [ ]:
# view the start of the file just saved
!head data/msft_modified.csv
#type data/msft_modified.csv # windows

# Working with missing data

## Setup

In [ ]:
import pandas as pd
# create a DataFrame with 5 rows and 3 columns
df = pd.DataFrame(np.arange(0, 15).reshape(5, 3), 
               index=['a', 'b', 'c', 'd', 'e'], 
               columns=['c1', 'c2', 'c3'])
df

In [ ]:
# add some columns and rows to the DataFrame
# column c4 with NaN values
df['c4'] = np.nan
df

In [ ]:
# row 'f' with 15 through 18 
df.loc['f'] = np.arange(15, 19) 
# row 'g' will all NaN
print(df)

In [ ]:
df.loc['g'] = np.nan
# column 'C5' with NaN's
df

In [ ]:
df['c5'] = np.nan
# change value in col 'c4' row 'a'

In [ ]:
df['c4']['a'] = 20
df

In [ ]:
df

## Determining NaN values in Series and DataFrame objects

In [ ]:
# which items are NaN?
df.isnull()

In [ ]:
# total count of NaN values
nullsumforcolumns = df.isnull().sum()
nullsumforcolumns

In [ ]:
nullsumforcolumns.sum()

In [ ]:
# number of non-NaN values in each column
df.count()

In [ ]:
# which items are not null?
df.notnull()

In [ ]:
# which items are not null?
df.notnull().sum()

In [ ]:
# which items are not null?
df.notnull().sum().sum()

# Selecting out (dropping) missing data

In [ ]:
df.notnull()

In [ ]:
df

In [ ]:
df[df.notnull()]

In [ ]:
# select the non-NaN items in column c4
df.c4[df.c4.notnull()]

In [ ]:
df[df.c4.notnull()]

In [ ]:
# .dropna will also return non NaN values
# this gets all non NaN items in column c4
df.c4.dropna()

In [ ]:
df

In [ ]:
df['c5']['a'] = 1
df

In [ ]:
df['c1']['g'] = 1

In [ ]:
df

In [ ]:
df.dropna()

### all the columns should be not null for a row 
## if one colum value is null or Nan for a row, dropna method will drop that row

In [ ]:
# dropna returns a copy with the values dropped
# the source DataFrame / column is not changed
df.c4

In [ ]:
# on a DataFrame this will drop entire rows
# where there is at least one NaN
# in this case, that is all rows
df.dropna()

In [ ]:
# using how='all', only rows that have all values
# as NaN will be dropped
a = df.dropna(how = 'any')
a

In [ ]:
# using how='all', only rows that have all values
# as NaN will be dropped
a = df.dropna(how = 'all')
a

In [ ]:
df['c5'][0] = np.nan

In [ ]:
df

In [ ]:
# flip to drop columns instead of rows
df.dropna(how='all', axis=1) # say goodbye to c5, axis = 1 column

In [ ]:
df.loc["g"] = np.nan

In [ ]:
df

In [ ]:
# flip to drop columns instead of rows
df.dropna(how='all', axis=0) # say goodbye to c5

In [ ]:
# make a copy of df
df2 = df.copy()

# replace two NaN cells with values
df2.ix['g'].c1 = 0
df2.ix['g'].c3 = 0

df2

In [ ]:
# now drop columns with any NaN values
df2.dropna(how='any', axis=0)

In [ ]:
df

In [ ]:
# only drop columns with at least 5 NaN values
#threshold is minimum not nan values

df.dropna(thresh=6, axis=1)

In [ ]:
df.dropna(thresh=2, axis=1)

In [ ]:
# only drop columns with at least 5 NaN values
#threshold is minimum not nan values

df.dropna(thresh=6, axis=0)

In [ ]:
df

In [ ]:
# only drop columns with at least 5 NaN values
#threshold is minimum not nan values

df.dropna(thresh=3, axis=0)

In [ ]:
# NaN's don't count as an item in calculating
# the means
df.mean()

In [ ]:
df

In [ ]:
# return a new DataFrame with NaN's filled with 0
filled = df.fillna(0.0)
filled

In [ ]:
# having replaced NaN with 0 can make
# operations such as mean have different results
filled.mean()

In [ ]:
df

In [ ]:
# only fills the first two NaN's in each row with 0
fill_2 = df.fillna(0, limit=2, axis = 1 )
print(fill_2)

In [ ]:
df

In [ ]:
# only fills the first two NaN's in each row with 0
fill_2 = df.fillna(0, limit=3, axis = 1)
print(fill_2)

In [ ]:
# only fills the first two NaN's in each row with 0
fill_2 = df.fillna("#", limit=5)
print(df)
fill_2

In [ ]:
df3 = df2.copy()
df3
df3["c6"] = np.NaN
df3["c7"] = np.NaN
df3["c8"] = np.NaN
df3["c9"] = np.NaN
df3.c1 = np.NaN

In [ ]:
df3

In [ ]:
# only fills the first two NaN's in each row with 0
fill_2 = df3.fillna(0, limit=2)
fill_2

In [ ]:
# only fills the first two NaN's in each row with 0
fill_3 = df3.fillna(1, limit=5)
print(fill_3)
fill_3

In [ ]:
df3

## Filling in missing data

In [ ]:
df.c4

In [ ]:
# extract the c4 column and fill NaNs forward
df.c4.fillna(method="ffill")

In [ ]:
# perform a backwards fill
df.c4.fillna(method="bfill")

# Visualizing Data

#### Data Frame Plot
<a href="https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#plotting">Generating Various charts directly from DataFrame</a>

In [ ]:
# plot the Adj Close values we just read in
goog.plot(y='Adj Close', figsize=(12,8));
plt.savefig('5128OS_01_02.png', bbox_inches='tight', dpi=300)